In [3]:
import pandas as pd
import numpy as np
import seaborn as sb

df_trafico = pd.read_csv("trafico.csv")

In [4]:
df_trafico.shape

(277042, 19)

In [5]:
df_trafico.dtypes

Nombre_de_recurso           object
Descripci__n_del_evento     object
Usuario                     object
Fecha                       object
Nombre_del_evento           object
ID_de_recurso               object
Tipo_de_recurso             object
Propietario                 object
Direcci__n_IP               object
Tipo_de_conector            object
Visibilidad_anterior        object
Visibilidad                 object
DIAMES                      object
DIA                        float64
MES                         object
NUMEROMES                  float64
A__O                       float64
FECHATEXTO                  object
AREA                        object
dtype: object

In [6]:
df_trafico.rename(columns={"Nombre_de_recurso":"nombre"})

,nombre,Descripci__n_del_evento,Usuario,Fecha,Nombre_del_evento,ID_de_recurso,Tipo_de_recurso,Propietario,Direcci__n_IP,Tipo_de_conector,Visibilidad_anterior,Visibilidad,DIAMES,DIA,MES,NUMEROMES,A__O,FECHATEXTO,AREA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS

In [7]:
df_trafico.rename(columns={"Descripci_n_del_evento":"descripcion"})

,Nombre_de_recurso,Descripci__n_del_evento,Usuario,Fecha,Nombre_del_evento,ID_de_recurso,Tipo_de_recurso,Propietario,Direcci__n_IP,Tipo_de_conector,Visibilidad_anterior,Visibilidad,DIAMES,DIA,MES,NUMEROMES,A__O,FECHATEXTO,AREA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS

In [8]:
df_trafico.rename(columns={"Nombre_del_evento":"evento"})

,Nombre_de_recurso,Descripci__n_del_evento,Usuario,Fecha,evento,ID_de_recurso,Tipo_de_recurso,Propietario,Direcci__n_IP,Tipo_de_conector,Visibilidad_anterior,Visibilidad,DIAMES,DIA,MES,NUMEROMES,A__O,FECHATEXTO,AREA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS

In [9]:
df_trafico.rename(columns={"Descripci__n_del_evento	":"descripcion"})

,Nombre_de_recurso,Descripci__n_del_evento,Usuario,Fecha,Nombre_del_evento,ID_de_recurso,Tipo_de_recurso,Propietario,Direcci__n_IP,Tipo_de_conector,Visibilidad_anterior,Visibilidad,DIAMES,DIA,MES,NUMEROMES,A__O,FECHATEXTO,AREA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS

In [10]:
df_trafico.rename(columns={"Descripci__n_del_evento":"descripcion"})

,Nombre_de_recurso,descripcion,Usuario,Fecha,Nombre_del_evento,ID_de_recurso,Tipo_de_recurso,Propietario,Direcci__n_IP,Tipo_de_conector,Visibilidad_anterior,Visibilidad,DIAMES,DIA,MES,NUMEROMES,A__O,FECHATEXTO,AREA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS

In [11]:
df_trafico.rename(columns={"Descripci__n_del_evento":"descripcion"},{"Nombre_de_recurso":"nombre"})

SyntaxError: positional argument follows keyword argument (<ipython-input-11-4f99362d486f>, line 1)

In [12]:
df_trafico.rename(columns={"Descripci__n_del_evento":"descripcion", "Nombre_de_recurso":"nombre"})

,nombre,descripcion,Usuario,Fecha,Nombre_del_evento,ID_de_recurso,Tipo_de_recurso,Propietario,Direcci__n_IP,Tipo_de_conector,Visibilidad_anterior,Visibilidad,DIAMES,DIA,MES,NUMEROMES,A__O,FECHATEXTO,AREA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS

In [13]:
df_trafico.rename(columns={"Descripci__n_del_evento":"descripcion", "Nombre_de_recurso":"nombre","Usuario":"usuario","Fecha":"fecha","Nombre_del_evento":"evento","ID_de_recurso":"id_recurso","Tipo_de_recurso":"tipo","Propietario":"propietario","Direcci__n_IP":"ip","Tipo_de_conector":"conector","Visibilidad_anterior":"visibilidad_anterior","Visibilidad":"visibilidad","DIAMES":"diames","DIA":"dia","MES":"mes","NUMEROMES":"numero_mes","A__O":"anio","FECHATEXTO":"fecha_texto","AREA":"area"})

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,visibilidad_anterior,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS

In [14]:
df_trafico=df_trafico.rename(columns={"Descripci__n_del_evento":"descripcion", "Nombre_de_recurso":"nombre","Usuario":"usuario","Fecha":"fecha","Nombre_del_evento":"evento","ID_de_recurso":"id_recurso","Tipo_de_recurso":"tipo","Propietario":"propietario","Direcci__n_IP":"ip","Tipo_de_conector":"conector","Visibilidad_anterior":"visibilidad_anterior","Visibilidad":"visibilidad","DIAMES":"diames","DIA":"dia","MES":"mes","NUMEROMES":"numero_mes","A__O":"anio","FECHATEXTO":"fecha_texto","AREA":"area"})

In [15]:
df_trafico

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,visibilidad_anterior,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS

In [16]:
df_trafico.describe

<bound method NDFrame.describe of                                           nombre  \
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
277037  Mercurio | Seguimiento pedidos ecommerce
277038  Mercurio | Seguimiento pedidos ecommerce
277039  Mercurio | Seguimiento pedidos ecommerce
277040  Mercurio | Seguimiento pedidos ecommerce
277041  Mercurio | Seguimiento pedidos ecommerce

                                              descripcion  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
277037  Julio Cesar Arango Roca ha cambiado los permis...
277038  Julio Cesar Arango Roca ha cambiado los permis...
277039                Leidy Caballero ha visto un recurso
277040                Leidy Caballero ha visto un recurso
277041          Omar Yesid  Rodriguez ha visto un recurso

                          usuario                        fecha  \
0                             NaN                          NaN
1                             NaN                          NaN
2                             NaN                          NaN
3                             NaN                          NaN
4                             NaN                          NaN
...                           ...                          ...
277037     jarango@springstep.com  30 ago. 2021 11:47:14 GMT-5
277038     jarango@springstep.com  30 ago. 2021 11:47:14 GMT-5
277039  lcaballero@springstep.com  30 ago. 2021 12:14:42 GMT-5
277040  lcaballero@springstep.com  30 ago. 2021 13:08:22 GMT-5
277041  orodriguez@springstep.com  30 dic. 2020 07:30:28 GMT-5

                                                   evento  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
277037  Cambio en los permisos de uso compartido de lo...
277038  Cambio en los permisos de uso compartido de lo...
277039                                                Ver
277040                                                Ver
277041                                                Ver

                                  id_recurso     tipo             propietario  \
0                                        NaN      NaN                     NaN
1                                        NaN      NaN                     NaN
2                                        NaN      NaN                     NaN
3                                        NaN      NaN                     NaN
4                                        NaN      NaN                     NaN
...                                      ...      ...                     ...
277037  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277038  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277039  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277040  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277041  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com

                    ip conector       visibilidad_anterior  \
0                  NaN      NaN                        NaN
1                  NaN      NaN                        NaN
2                  NaN      NaN                        NaN
3                  NaN      NaN                        NaN
4                  NaN      NaN                        NaN
...                ...      ...                        ...
277037   190.248.25.74      NaN  Compartido explícitamente
277038   190.248.25.74      NaN  Compartido explícitamente
277039  181.49.160.217      NaN                        NaN
277040  181.49.160.217      NaN                        NaN
277041   201.244.107.6      NaN                        NaN

                      visibilidad        diames   dia   mes  numero_mes  \
0                             NaN           NaN   NaN   NaN         NaN
1                             NaN           NaN   NaN   NaN         NaN
2                             NaN           NaN   NaN   NaN         NaN
3                             NaN           NaN   NaN   NaN         NaN
4                             NaN           NaN   NaN   NaN         NaN
...                           ...           ...   ...   ...         ...
277037  Compartido explícitamente  30 ago. 2021  30.0   ago         8.0
277038  Compartido explícitamente  30 ago. 2021  30.0   ago         8.0
277039  Compartido explícitamente  30 ago. 2021  30.0   ago         8.0
277040  Compartido explícitamente  30 ago. 2021  30.0   ago         8.0
277041  Compartido explícitamente  30 dic. 2020  30.0   dic        12.0

          anio fecha_texto         area
0          NaN         NaN          NaN
1          NaN         NaN          NaN
2          NaN         NaN          NaN
3          NaN         NaN          NaN
4          NaN         NaN          NaN
...        ...         ...          ...
277037  2021.0  2021-08-30           TI
277038  2021.0  2021-08-30           TI
277039  2021.0  2021-08-30    COMERCIAL
277040  2021.0  2021-08-30    COMERCIAL
277041  2020.0  2020-12-30  OTRAS AREAS

[277042 rows x 19 columns]>

In [17]:
df_trafico.dtypes

nombre                   object
descripcion              object
usuario                  object
fecha                    object
evento                   object
id_recurso               object
tipo                     object
propietario              object
ip                       object
conector                 object
visibilidad_anterior     object
visibilidad              object
diames                   object
dia                     float64
mes                      object
numero_mes              float64
anio                    float64
fecha_texto              object
area                     object
dtype: object

In [18]:
df_trafico.describe

<bound method NDFrame.describe of                                           nombre  \
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
277037  Mercurio | Seguimiento pedidos ecommerce
277038  Mercurio | Seguimiento pedidos ecommerce
277039  Mercurio | Seguimiento pedidos ecommerce
277040  Mercurio | Seguimiento pedidos ecommerce
277041  Mercurio | Seguimiento pedidos ecommerce

                                              descripcion  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
277037  Julio Cesar Arango Roca ha cambiado los permis...
277038  Julio Cesar Arango Roca ha cambiado los permis...
277039                Leidy Caballero ha visto un recurso
277040                Leidy Caballero ha visto un recurso
277041          Omar Yesid  Rodriguez ha visto un recurso

                          usuario                        fecha  \
0                             NaN                          NaN
1                             NaN                          NaN
2                             NaN                          NaN
3                             NaN                          NaN
4                             NaN                          NaN
...                           ...                          ...
277037     jarango@springstep.com  30 ago. 2021 11:47:14 GMT-5
277038     jarango@springstep.com  30 ago. 2021 11:47:14 GMT-5
277039  lcaballero@springstep.com  30 ago. 2021 12:14:42 GMT-5
277040  lcaballero@springstep.com  30 ago. 2021 13:08:22 GMT-5
277041  orodriguez@springstep.com  30 dic. 2020 07:30:28 GMT-5

                                                   evento  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
277037  Cambio en los permisos de uso compartido de lo...
277038  Cambio en los permisos de uso compartido de lo...
277039                                                Ver
277040                                                Ver
277041                                                Ver

                                  id_recurso     tipo             propietario  \
0                                        NaN      NaN                     NaN
1                                        NaN      NaN                     NaN
2                                        NaN      NaN                     NaN
3                                        NaN      NaN                     NaN
4                                        NaN      NaN                     NaN
...                                      ...      ...                     ...
277037  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277038  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277039  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277040  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277041  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com

                    ip conector       visibilidad_anterior  \
0                  NaN      NaN                        NaN
1                  NaN      NaN                        NaN
2                  NaN      NaN                        NaN
3                  NaN      NaN                        NaN
4                  NaN      NaN                        NaN
...                ...      ...                        ...
277037   190.248.25.74      NaN  Compartido explícitamente
277038   190.248.25.74      NaN  Compartido explícitamente
277039  181.49.160.217      NaN                        NaN
277040  181.49.160.217      NaN                        NaN
277041   201.244.107.6      NaN                        NaN

                      visibilidad        diames   dia   mes  numero_mes  \
0                             NaN           NaN   NaN   NaN         NaN
1                             NaN           NaN   NaN   NaN         NaN
2                             NaN           NaN   NaN   NaN         NaN
3                             NaN           NaN   NaN   NaN         NaN
4                             NaN           NaN   NaN   NaN         NaN
...                           ...           ...   ...   ...         ...
277037  Compartido explícitamente  30 ago. 2021  30.0   ago         8.0
277038  Compartido explícitamente  30 ago. 2021  30.0   ago         8.0
277039  Compartido explícitamente  30 ago. 2021  30.0   ago         8.0
277040  Compartido explícitamente  30 ago. 2021  30.0   ago         8.0
277041  Compartido explícitamente  30 dic. 2020  30.0   dic        12.0

          anio fecha_texto         area
0          NaN         NaN          NaN
1          NaN         NaN          NaN
2          NaN         NaN          NaN
3          NaN         NaN          NaN
4          NaN         NaN          NaN
...        ...         ...          ...
277037  2021.0  2021-08-30           TI
277038  2021.0  2021-08-30           TI
277039  2021.0  2021-08-30    COMERCIAL
277040  2021.0  2021-08-30    COMERCIAL
277041  2020.0  2020-12-30  OTRAS AREAS

[277042 rows x 19 columns]>

In [19]:
df_trafico.dtypes

nombre                   object
descripcion              object
usuario                  object
fecha                    object
evento                   object
id_recurso               object
tipo                     object
propietario              object
ip                       object
conector                 object
visibilidad_anterior     object
visibilidad              object
diames                   object
dia                     float64
mes                      object
numero_mes              float64
anio                    float64
fecha_texto              object
area                     object
dtype: object

In [20]:
df_trafico['fecha'] = pd.to_datetime(df_trafico['fecha'])

ParserError: Unknown string format: Fecha present at position 1

In [21]:
df_trafico.fecha

0                                 NaN
1                                 NaN
2                                 NaN
3                                 NaN
4                                 NaN
                     ...
277037    30 ago. 2021 11:47:14 GMT-5
277038    30 ago. 2021 11:47:14 GMT-5
277039    30 ago. 2021 12:14:42 GMT-5
277040    30 ago. 2021 13:08:22 GMT-5
277041    30 dic. 2020 07:30:28 GMT-5
Name: fecha, Length: 277042, dtype: object

In [22]:
df_trafico["fecha"].str[:2]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
277037     30
277038     30
277039     30
277040     30
277041     30
Name: fecha, Length: 277042, dtype: object

In [23]:
df_trafico["fecha_dia"]=df_trafico["fecha"].str[:2]

In [24]:
df_trafico.dtypes

nombre                   object
descripcion              object
usuario                  object
fecha                    object
evento                   object
id_recurso               object
tipo                     object
propietario              object
ip                       object
conector                 object
visibilidad_anterior     object
visibilidad              object
diames                   object
dia                     float64
mes                      object
numero_mes              float64
anio                    float64
fecha_texto              object
area                     object
fecha_dia                object
dtype: object

In [25]:
df_trafico.groupby("fecha_dia").count()

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,visibilidad_anterior,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area
fecha_dia,,,,,,,,,,,,,,,,,,,
1,3876,3876,3876,3876,3876,3876,3876,3876,3775,251,1,3876,3876,3876,3876,3876,3876,3876,3876
10,4422,4422,4422,4422,4422,4422,4422,4422,4344,218,48,4422,4422,4422,4422,4422,4422,4422,4422
11,5668,5668,5668,5668,5668,5668,5668,5668,5490,369,16,5668,5668,5668,5668,5668,5668,5668,5668
12,5088,5088,5088,5088,5088,5088,5088,5088,4820,365,43,5088,5088,5088,5088,5088,5088,5088,5088
13,4031,4031,4031,4031,4031,4031,4031,4031,3966,225,40,4031,4031,4031,4031,4031,4031,4031,4031
14,3691,3691,3691,3691,3691,3691,3691,3691,3513,139,16,3691,3691,3691,3691,3691,3691,3691,3691
15,4319,4319,4319,4319,4319,4319,4319,4319,4142,317,9,4319,4319,4319,4319,4319,4319,4319,4319
16,4654,4654,4654,4654,4654,4654,4654,4654,4459,254,263,4654,4654,4654,4654,4654,4654,4654,4654
17,4071,4071,4071,4071,4071,4071,4071,4071,3940,221,45,4071,4071,4071,4071,4071,4071,4071,4071
18,4804,4804,4804,4804,4804,4804,4804,4804,4303,271,28,4804,4804,4804,4804,4804,4804,4804,4804
19,4175,4175,4175,4175,4175,4175,4175,4175,4064,204,18,4175,4175,4175,4175,4175,4175,4175,4175
2,4052,4052,4052,4052,4052,4052,4052,4052,3868,219,44,4052,4052,4052,4052,4052,4052,4052,4052
20,128850,128850,128844,128850,128850,128850,128850,128850,125206,9950,124724,128850,126174,126174,126174,126174,126174,126174,127592
21,4909,4909,4909,4909,4909,4909,4909,4909,4688,235,120,4909,4909,4909,4909,4909,4909,4909,4909
22,5038,5038,5038,5038,5038,5038,5038,5038,4888,386,57,5038,5038,5038,5038,5038,5038,5038,5038
23,4911,4911,4911,4911,4911,4911,4911,4911,4826,302,37,4911,4911,4911,4911,4911,4911,4911,4911
24,4317,4317,4317,4317,4317,4317,4317,4317,4265,267,36,4317,4317,4317,4317,4317,4317,4317,4317
25,4340,4340,4340,4340,4340,4340,4340,4340,4275,241,24,4340,4340,4340,4340,4340,4340,4340,4340
26,4669,4669,4669,4669,4669,4669,4669,4669,4520,293,19,4669,4669,4669,4669,4669,4669,4669,4669
27,4295,4295,4295,4295,4295,4295,4295,4295,4150,119,33,4295,4295,4295,4295,4295,4295,4295,4295
28,4599,4599,4599,4599,4599,4599,4599,4599,4480,236,27,4599,4599,4599,4599,4599,4599,4599,4599
29,4161,4161,4161,4161,4161,4161,4161,4161,4088,253,13,4161,4161,4161,4161,4161,4161,4161,4161
3,4582,4582,4582,4582,4582,4582,4582,4582,4391,212,40,4582,4582,4582,4582,4582,4582,4582,4582
30,3884,3884,3884,3884,3884,3884,3884,3884,3796,218,50,3884,3884,3884,3884,3884,3884,3884,3884
31,2091,2091,2091,2091,2091,2091,2091,2091,2062,74,8,2091,2091,2091,2091,2091,2091,2091,2091
4,4733,4733,4733,4733,4733,4733,4733,4733,4536,219,26,4733,4733,4733,4733,4733,4733,4733,4733
5,4782,4782,4782,4782,4782,4782,4782,4782,4587,218,6,4782,4782,4782,4782,4782,4782,4782,4782
6,4575,4575,4575,4575,4575,4575,4575,4575,4497,172,19,4575,4575,4575,4575,4575,4575,4575,4575
7,4540,4540,4540,4540,4540,4540,4540,4540,4338,225,12,4540,4540,4540,4540,4540,4540,4540,4540
8,4713,4713,4713,4713,4713,4713,4713,4713,4403,307,81,4713,4713,4713,4713,4713,4713,4713,4713
9,4044,4044,4044,4044,4044,4044,4044,4044,3927,192,10,4044,4044,4044,4044,4044,4044,4044,4044
Fe,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,0,1

In [26]:
df_trafico["fecha_dia"].astype(int)

ValueError: cannot convert float NaN to integer

In [27]:
df_trafico["fecha_dia"].astype(int, error='ignore')

TypeError: NDFrame.astype() got an unexpected keyword argument 'error'

In [28]:
df_trafico["fecha_dia"].astype(int, errors='ignore')

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
277037     30
277038     30
277039     30
277040     30
277041     30
Name: fecha_dia, Length: 277042, dtype: object

In [29]:
df_trafico.dtypes

nombre                   object
descripcion              object
usuario                  object
fecha                    object
evento                   object
id_recurso               object
tipo                     object
propietario              object
ip                       object
conector                 object
visibilidad_anterior     object
visibilidad              object
diames                   object
dia                     float64
mes                      object
numero_mes              float64
anio                    float64
fecha_texto              object
area                     object
fecha_dia                object
dtype: object

In [30]:
df_trafico['fecha_dia_int']=df_trafico["fecha_dia"].astype(int, errors='ignore')

In [31]:
df_trafico.dtypes

nombre                   object
descripcion              object
usuario                  object
fecha                    object
evento                   object
id_recurso               object
tipo                     object
propietario              object
ip                       object
conector                 object
visibilidad_anterior     object
visibilidad              object
diames                   object
dia                     float64
mes                      object
numero_mes              float64
anio                    float64
fecha_texto              object
area                     object
fecha_dia                object
fecha_dia_int            object
dtype: object

In [32]:
df_trafico['fecha_dia_int'] = df_trafico['fecha_dia_int'].astype(int)

ValueError: cannot convert float NaN to integer

In [33]:
df_trafico['fecha_dia_int'] = df_trafico['fecha_dia_int'].astype(int, errors='ignore')

In [34]:
df_trafico.dtypes

nombre                   object
descripcion              object
usuario                  object
fecha                    object
evento                   object
id_recurso               object
tipo                     object
propietario              object
ip                       object
conector                 object
visibilidad_anterior     object
visibilidad              object
diames                   object
dia                     float64
mes                      object
numero_mes              float64
anio                    float64
fecha_texto              object
area                     object
fecha_dia                object
fecha_dia_int            object
dtype: object

In [35]:
df_trafico.head(20)

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,...,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area,fecha_dia,fecha_dia_int
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_trafico.info

<bound method DataFrame.info of                                           nombre  \
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
277037  Mercurio | Seguimiento pedidos ecommerce
277038  Mercurio | Seguimiento pedidos ecommerce
277039  Mercurio | Seguimiento pedidos ecommerce
277040  Mercurio | Seguimiento pedidos ecommerce
277041  Mercurio | Seguimiento pedidos ecommerce

                                              descripcion  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
277037  Julio Cesar Arango Roca ha cambiado los permis...
277038  Julio Cesar Arango Roca ha cambiado los permis...
277039                Leidy Caballero ha visto un recurso
277040                Leidy Caballero ha visto un recurso
277041          Omar Yesid  Rodriguez ha visto un recurso

                          usuario                        fecha  \
0                             NaN                          NaN
1                             NaN                          NaN
2                             NaN                          NaN
3                             NaN                          NaN
4                             NaN                          NaN
...                           ...                          ...
277037     jarango@springstep.com  30 ago. 2021 11:47:14 GMT-5
277038     jarango@springstep.com  30 ago. 2021 11:47:14 GMT-5
277039  lcaballero@springstep.com  30 ago. 2021 12:14:42 GMT-5
277040  lcaballero@springstep.com  30 ago. 2021 13:08:22 GMT-5
277041  orodriguez@springstep.com  30 dic. 2020 07:30:28 GMT-5

                                                   evento  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
277037  Cambio en los permisos de uso compartido de lo...
277038  Cambio en los permisos de uso compartido de lo...
277039                                                Ver
277040                                                Ver
277041                                                Ver

                                  id_recurso     tipo             propietario  \
0                                        NaN      NaN                     NaN
1                                        NaN      NaN                     NaN
2                                        NaN      NaN                     NaN
3                                        NaN      NaN                     NaN
4                                        NaN      NaN                     NaN
...                                      ...      ...                     ...
277037  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277038  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277039  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277040  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com
277041  ffbda56e-e714-4b03-9ec6-b02dd9208a90  Informe  jarango@springstep.com

                    ip conector  ...                visibilidad        diames  \
0                  NaN      NaN  ...                        NaN           NaN
1                  NaN      NaN  ...                        NaN           NaN
2                  NaN      NaN  ...                        NaN           NaN
3                  NaN      NaN  ...                        NaN           NaN
4                  NaN      NaN  ...                        NaN           NaN
...                ...      ...  ...                        ...           ...
277037   190.248.25.74      NaN  ...  Compartido explícitamente  30 ago. 2021
277038   190.248.25.74      NaN  ...  Compartido explícitamente  30 ago. 2021
277039  181.49.160.217      NaN  ...  Compartido explícitamente  30 ago. 2021
277040  181.49.160.217      NaN  ...  Compartido explícitamente  30 ago. 2021
277041   201.244.107.6      NaN  ...  Compartido explícitamente  30 dic. 2020

         dia   mes numero_mes    anio  fecha_texto         area fecha_dia  \
0        NaN   NaN        NaN     NaN          NaN          NaN       NaN
1        NaN   NaN        NaN     NaN          NaN          NaN       NaN
2        NaN   NaN        NaN     NaN          NaN          NaN       NaN
3        NaN   NaN        NaN     NaN          NaN          NaN       NaN
4        NaN   NaN        NaN     NaN          NaN          NaN       NaN
...      ...   ...        ...     ...          ...          ...       ...
277037  30.0   ago        8.0  2021.0   2021-08-30           TI        30
277038  30.0   ago        8.0  2021.0   2021-08-30           TI        30
277039  30.0   ago        8.0  2021.0   2021-08-30    COMERCIAL        30
277040  30.0   ago        8.0  2021.0   2021-08-30    COMERCIAL        30
277041  30.0   dic       12.0  2020.0   2020-12-30  OTRAS AREAS        30

       fecha_dia_int
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
277037            30
277038            30
277039            30
277040            30
277041            30

[277042 rows x 21 columns]>

In [37]:
df_trafico.astype({'fecha_dia_int':'int32'})

ValueError: cannot convert float NaN to integer

In [38]:
df_trafico.astype({'fecha_dia_int':'float64'})

ValueError: could not convert string to float: 'Fe'

In [39]:
df_trafico.groupby(['fecha_dia']).count()

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,visibilidad_anterior,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area,fecha_dia_int
fecha_dia,,,,,,,,,,,,,,,,,,,,
1,3876,3876,3876,3876,3876,3876,3876,3876,3775,251,1,3876,3876,3876,3876,3876,3876,3876,3876,3876
10,4422,4422,4422,4422,4422,4422,4422,4422,4344,218,48,4422,4422,4422,4422,4422,4422,4422,4422,4422
11,5668,5668,5668,5668,5668,5668,5668,5668,5490,369,16,5668,5668,5668,5668,5668,5668,5668,5668,5668
12,5088,5088,5088,5088,5088,5088,5088,5088,4820,365,43,5088,5088,5088,5088,5088,5088,5088,5088,5088
13,4031,4031,4031,4031,4031,4031,4031,4031,3966,225,40,4031,4031,4031,4031,4031,4031,4031,4031,4031
14,3691,3691,3691,3691,3691,3691,3691,3691,3513,139,16,3691,3691,3691,3691,3691,3691,3691,3691,3691
15,4319,4319,4319,4319,4319,4319,4319,4319,4142,317,9,4319,4319,4319,4319,4319,4319,4319,4319,4319
16,4654,4654,4654,4654,4654,4654,4654,4654,4459,254,263,4654,4654,4654,4654,4654,4654,4654,4654,4654
17,4071,4071,4071,4071,4071,4071,4071,4071,3940,221,45,4071,4071,4071,4071,4071,4071,4071,4071,4071
18,4804,4804,4804,4804,4804,4804,4804,4804,4303,271,28,4804,4804,4804,4804,4804,4804,4804,4804,4804
19,4175,4175,4175,4175,4175,4175,4175,4175,4064,204,18,4175,4175,4175,4175,4175,4175,4175,4175,4175
2,4052,4052,4052,4052,4052,4052,4052,4052,3868,219,44,4052,4052,4052,4052,4052,4052,4052,4052,4052
20,128850,128850,128844,128850,128850,128850,128850,128850,125206,9950,124724,128850,126174,126174,126174,126174,126174,126174,127592,128850
21,4909,4909,4909,4909,4909,4909,4909,4909,4688,235,120,4909,4909,4909,4909,4909,4909,4909,4909,4909
22,5038,5038,5038,5038,5038,5038,5038,5038,4888,386,57,5038,5038,5038,5038,5038,5038,5038,5038,5038
23,4911,4911,4911,4911,4911,4911,4911,4911,4826,302,37,4911,4911,4911,4911,4911,4911,4911,4911,4911
24,4317,4317,4317,4317,4317,4317,4317,4317,4265,267,36,4317,4317,4317,4317,4317,4317,4317,4317,4317
25,4340,4340,4340,4340,4340,4340,4340,4340,4275,241,24,4340,4340,4340,4340,4340,4340,4340,4340,4340
26,4669,4669,4669,4669,4669,4669,4669,4669,4520,293,19,4669,4669,4669,4669,4669,4669,4669,4669,4669
27,4295,4295,4295,4295,4295,4295,4295,4295,4150,119,33,4295,4295,4295,4295,4295,4295,4295,4295,4295
28,4599,4599,4599,4599,4599,4599,4599,4599,4480,236,27,4599,4599,4599,4599,4599,4599,4599,4599,4599
29,4161,4161,4161,4161,4161,4161,4161,4161,4088,253,13,4161,4161,4161,4161,4161,4161,4161,4161,4161
3,4582,4582,4582,4582,4582,4582,4582,4582,4391,212,40,4582,4582,4582,4582,4582,4582,4582,4582,4582
30,3884,3884,3884,3884,3884,3884,3884,3884,3796,218,50,3884,3884,3884,3884,3884,3884,3884,3884,3884
31,2091,2091,2091,2091,2091,2091,2091,2091,2062,74,8,2091,2091,2091,2091,2091,2091,2091,2091,2091
4,4733,4733,4733,4733,4733,4733,4733,4733,4536,219,26,4733,4733,4733,4733,4733,4733,4733,4733,4733
5,4782,4782,4782,4782,4782,4782,4782,4782,4587,218,6,4782,4782,4782,4782,4782,4782,4782,4782,4782
6,4575,4575,4575,4575,4575,4575,4575,4575,4497,172,19,4575,4575,4575,4575,4575,4575,4575,4575,4575
7,4540,4540,4540,4540,4540,4540,4540,4540,4338,225,12,4540,4540,4540,4540,4540,4540,4540,4540,4540
8,4713,4713,4713,4713,4713,4713,4713,4713,4403,307,81,4713,4713,4713,4713,4713,4713,4713,4713,4713
9,4044,4044,4044,4044,4044,4044,4044,4044,3927,192,10,4044,4044,4044,4044,4044,4044,4044,4044,4044
Fe,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,0,1,1

In [40]:
df_trafico['fecha_dia']=='Fe'

0         False
1         False
2         False
3         False
4         False
          ...
277037    False
277038    False
277039    False
277040    False
277041    False
Name: fecha_dia, Length: 277042, dtype: bool

In [41]:
cleaning = df_trafico['fecha_dia']=='Fe'

In [42]:
cleaning

0         False
1         False
2         False
3         False
4         False
          ...
277037    False
277038    False
277039    False
277040    False
277041    False
Name: fecha_dia, Length: 277042, dtype: bool

In [43]:
cleaning.shape

(277042,)

In [44]:
df_trafico

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,...,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area,fecha_dia,fecha_dia_int
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,...,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI,30,30
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,...,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI,30,30
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,...,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL,30,30
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,...,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL,30,30
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,...,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS,30,30

In [45]:
df_trafico = pd.read_csv("trafico.csv")
df_trafico=df_trafico.rename(columns={"Descripci__n_del_evento":"descripcion", "Nombre_de_recurso":"nombre","Usuario":"usuario","Fecha":"fecha","Nombre_del_evento":"evento","ID_de_recurso":"id_recurso","Tipo_de_recurso":"tipo","Propietario":"propietario","Direcci__n_IP":"ip","Tipo_de_conector":"conector","Visibilidad_anterior":"visibilidad_anterior","Visibilidad":"visibilidad","DIAMES":"diames","DIA":"dia","MES":"mes","NUMEROMES":"numero_mes","A__O":"anio","FECHATEXTO":"fecha_texto","AREA":"area"})

In [46]:
df_trafico.shape()

TypeError: 'tuple' object is not callable

In [47]:
df_trafico.shape

(277042, 19)

In [48]:
df_trafico["fecha_dia"]=df_trafico["fecha"].str[:2]

In [49]:
df_trafico.shape]

SyntaxError: unmatched ']' (<ipython-input-49-d1f4bc0e6b64>, line 1)

In [50]:
df_trafico.shape

(277042, 20)

In [51]:
df_trafico = df_trafico[df_trafico['fecha_dia'].notna()

SyntaxError: incomplete input (<ipython-input-51-62d97a823fb8>, line 1)

In [52]:
df_trafico = df_trafico[df_trafico['fecha_dia'].notna()]

In [53]:
df_trafico.shape

(260885, 20)

In [54]:
df_trafico.head(20)

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,visibilidad_anterior,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area,fecha_dia
16157,Nombre de recurso,Descripción del evento,Usuario,Fecha,Nombre del evento,ID de recurso,Tipo de recurso,Propietario,Dirección IP,Tipo de conector,Visibilidad anterior,Visibilidad,#VALUE!,NaN,#VALUE!,NaN,NaN,NaN,AREA,Fe
16158,Informe sin título,Julio Cesar Arango Roca ha visto un recurso,jarango@springstep.com,4 jun. 2021 09:19:13 GMT-4,Ver,1-IjJ-RHcQcnKh7WRhHK-qVbQ1lumQikD,Informe,jarango@springstep.com,190.248.25.74,NaN,NaN,Privado,4 jun. 2021,4.0,jun,6.0,2021.0,2021-06-04,TI,4
16159,Informe sin título,Julio Cesar Arango Roca ha visto un recurso,jarango@springstep.com,6 jun. 2021 23:45:09 GMT-4,Ver,1-IjJ-RHcQcnKh7WRhHK-qVbQ1lumQikD,Informe,jarango@springstep.com,181.135.230.125,NaN,NaN,Privado,6 jun. 2021,6.0,jun,6.0,2021.0,2021-06-06,TI,6
16160,Informe sin título,Julio Cesar Arango Roca ha enviado un recurso ...,jarango@springstep.com,6 jun. 2021 23:45:18 GMT-4,Papelera,1-IjJ-RHcQcnKh7WRhHK-qVbQ1lumQikD,Informe,jarango@springstep.com,181.135.230.125,NaN,NaN,Privado,6 jun. 2021,6.0,jun,6.0,2021.0,2021-06-06,TI,6
16161,Ecommerce | PEDIDOS 2.0,Daniel Alexander Bohorquez Benavides ha visto ...,dbohorquez@springstep.com,1 abr 2022 05:31:27 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,TI,1
16162,Ecommerce | PEDIDOS 2.0,Daniel Alexander Bohorquez Benavides ha visto ...,dbohorquez@springstep.com,1 abr 2022 05:31:27 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,TI,1
16163,Ecommerce | PEDIDOS 2.0,James Dereck Villalba Díaz ha visto un recurso,jvillalba@springstep.com,1 abr 2022 07:13:48 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,MERCADEO,1
16164,Ecommerce | PEDIDOS 2.0,James Dereck Villalba Díaz ha visto un recurso,jvillalba@springstep.com,1 abr 2022 07:13:48 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,MERCADEO,1
16165,Ecommerce | PEDIDOS 2.0,James Dereck Villalba Díaz ha visto un recurso,jvillalba@springstep.com,1 abr 2022 07:13:49 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,MERCADEO,1
16166,Ecommerce | PEDIDOS 2.0,James Dereck Villalba Díaz ha visto un recurso,jvillalba@springstep.com,1 abr 2022 07:13:49 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,MERCADEO,1
16167,Ecommerce | PEDIDOS 2.0,James Dereck Villalba Díaz ha visto un recurso,jvillalba@springstep.com,1 abr 2022 07:15:30 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,MERCADEO,1
16168,Ecommerce | PEDIDOS 2.0,James Dereck Villalba Díaz ha visto un recurso,jvillalba@springstep.com,1 abr 2022 07:15:30 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,MERCADEO,1
16169,Ecommerce | PEDIDOS 2.0,Luz Marina Porras Daza ha visto un recurso,lporras@springstep.com,1 abr 2022 07:22:21 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,OTRAS AREAS,1
16170,Ecommerce | PEDIDOS 2.0,Luz Marina Porras Daza ha visto un recurso,lporras@springstep.com,1 abr 2022 07:22:21 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,OTRAS AREAS,1
16171,Ecommerce | PEDIDOS 2.0,Luz Marina Porras Daza ha visto un recurso,lporras@springstep.com,1 abr 2022 07:22:41 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,OTRAS AREAS,1
16172,Ecommerce | PEDIDOS 2.0,Luz Marina Porras Daza ha visto un recurso,lporras@springstep.com,1 abr 2022 07:22:41 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,OTRAS AREAS,1
16173,Ecommerce | PEDIDOS 2.0,James Dereck Villalba Díaz ha visto un recurso,jvillalba@springstep.com,1 abr 2022 07:23:23 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,MERCADEO,1
16174,Ecommerce | PEDIDOS 2.0,James Dereck Villalba Díaz ha visto un recurso,jvillalba@springstep.com,1 abr 2022 07:23:23 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,MERCADEO,1
16175,Ecommerce | PEDIDOS 2.0,Luz Marina Porras Daza ha visto un recurso,lporras@springstep.com,1 abr 2022 16:27:02 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,OTRAS AREAS,1
16176,Ecommerce | PEDIDOS 2.0,Luz Marina Porras Daza ha visto un recurso,lporras@springstep.com,1 abr 2022 16:27:02 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,OTRAS AREAS,1

In [55]:
df_trafico.shape

(260885, 20)

In [56]:
df_trafico.drop([16157], axis=0, inplace=True)

In [57]:
df_trafico.shape

(260884, 20)

In [58]:
df_trafico

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,visibilidad_anterior,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area,fecha_dia
16158,Informe sin título,Julio Cesar Arango Roca ha visto un recurso,jarango@springstep.com,4 jun. 2021 09:19:13 GMT-4,Ver,1-IjJ-RHcQcnKh7WRhHK-qVbQ1lumQikD,Informe,jarango@springstep.com,190.248.25.74,NaN,NaN,Privado,4 jun. 2021,4.0,jun,6.0,2021.0,2021-06-04,TI,4
16159,Informe sin título,Julio Cesar Arango Roca ha visto un recurso,jarango@springstep.com,6 jun. 2021 23:45:09 GMT-4,Ver,1-IjJ-RHcQcnKh7WRhHK-qVbQ1lumQikD,Informe,jarango@springstep.com,181.135.230.125,NaN,NaN,Privado,6 jun. 2021,6.0,jun,6.0,2021.0,2021-06-06,TI,6
16160,Informe sin título,Julio Cesar Arango Roca ha enviado un recurso ...,jarango@springstep.com,6 jun. 2021 23:45:18 GMT-4,Papelera,1-IjJ-RHcQcnKh7WRhHK-qVbQ1lumQikD,Informe,jarango@springstep.com,181.135.230.125,NaN,NaN,Privado,6 jun. 2021,6.0,jun,6.0,2021.0,2021-06-06,TI,6
16161,Ecommerce | PEDIDOS 2.0,Daniel Alexander Bohorquez Benavides ha visto ...,dbohorquez@springstep.com,1 abr 2022 05:31:27 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,TI,1
16162,Ecommerce | PEDIDOS 2.0,Daniel Alexander Bohorquez Benavides ha visto ...,dbohorquez@springstep.com,1 abr 2022 05:31:27 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,TI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI,30
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI,30
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL,30
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL,30
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS,30

In [59]:
df_trafico.groupby(['fecha_dia']).count()

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,visibilidad_anterior,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area
fecha_dia,,,,,,,,,,,,,,,,,,,
1,3876,3876,3876,3876,3876,3876,3876,3876,3775,251,1,3876,3876,3876,3876,3876,3876,3876,3876
10,4422,4422,4422,4422,4422,4422,4422,4422,4344,218,48,4422,4422,4422,4422,4422,4422,4422,4422
11,5668,5668,5668,5668,5668,5668,5668,5668,5490,369,16,5668,5668,5668,5668,5668,5668,5668,5668
12,5088,5088,5088,5088,5088,5088,5088,5088,4820,365,43,5088,5088,5088,5088,5088,5088,5088,5088
13,4031,4031,4031,4031,4031,4031,4031,4031,3966,225,40,4031,4031,4031,4031,4031,4031,4031,4031
14,3691,3691,3691,3691,3691,3691,3691,3691,3513,139,16,3691,3691,3691,3691,3691,3691,3691,3691
15,4319,4319,4319,4319,4319,4319,4319,4319,4142,317,9,4319,4319,4319,4319,4319,4319,4319,4319
16,4654,4654,4654,4654,4654,4654,4654,4654,4459,254,263,4654,4654,4654,4654,4654,4654,4654,4654
17,4071,4071,4071,4071,4071,4071,4071,4071,3940,221,45,4071,4071,4071,4071,4071,4071,4071,4071
18,4804,4804,4804,4804,4804,4804,4804,4804,4303,271,28,4804,4804,4804,4804,4804,4804,4804,4804
19,4175,4175,4175,4175,4175,4175,4175,4175,4064,204,18,4175,4175,4175,4175,4175,4175,4175,4175
2,4052,4052,4052,4052,4052,4052,4052,4052,3868,219,44,4052,4052,4052,4052,4052,4052,4052,4052
20,128850,128850,128844,128850,128850,128850,128850,128850,125206,9950,124724,128850,126174,126174,126174,126174,126174,126174,127592
21,4909,4909,4909,4909,4909,4909,4909,4909,4688,235,120,4909,4909,4909,4909,4909,4909,4909,4909
22,5038,5038,5038,5038,5038,5038,5038,5038,4888,386,57,5038,5038,5038,5038,5038,5038,5038,5038
23,4911,4911,4911,4911,4911,4911,4911,4911,4826,302,37,4911,4911,4911,4911,4911,4911,4911,4911
24,4317,4317,4317,4317,4317,4317,4317,4317,4265,267,36,4317,4317,4317,4317,4317,4317,4317,4317
25,4340,4340,4340,4340,4340,4340,4340,4340,4275,241,24,4340,4340,4340,4340,4340,4340,4340,4340
26,4669,4669,4669,4669,4669,4669,4669,4669,4520,293,19,4669,4669,4669,4669,4669,4669,4669,4669
27,4295,4295,4295,4295,4295,4295,4295,4295,4150,119,33,4295,4295,4295,4295,4295,4295,4295,4295
28,4599,4599,4599,4599,4599,4599,4599,4599,4480,236,27,4599,4599,4599,4599,4599,4599,4599,4599
29,4161,4161,4161,4161,4161,4161,4161,4161,4088,253,13,4161,4161,4161,4161,4161,4161,4161,4161
3,4582,4582,4582,4582,4582,4582,4582,4582,4391,212,40,4582,4582,4582,4582,4582,4582,4582,4582
30,3884,3884,3884,3884,3884,3884,3884,3884,3796,218,50,3884,3884,3884,3884,3884,3884,3884,3884
31,2091,2091,2091,2091,2091,2091,2091,2091,2062,74,8,2091,2091,2091,2091,2091,2091,2091,2091
4,4733,4733,4733,4733,4733,4733,4733,4733,4536,219,26,4733,4733,4733,4733,4733,4733,4733,4733
5,4782,4782,4782,4782,4782,4782,4782,4782,4587,218,6,4782,4782,4782,4782,4782,4782,4782,4782
6,4575,4575,4575,4575,4575,4575,4575,4575,4497,172,19,4575,4575,4575,4575,4575,4575,4575,4575
7,4540,4540,4540,4540,4540,4540,4540,4540,4338,225,12,4540,4540,4540,4540,4540,4540,4540,4540
8,4713,4713,4713,4713,4713,4713,4713,4713,4403,307,81,4713,4713,4713,4713,4713,4713,4713,4713
9,4044,4044,4044,4044,4044,4044,4044,4044,3927,192,10,4044,4044,4044,4044,4044,4044,4044,4044

In [60]:
df_trafico.sort_values(['fecha_dia'], ascending=False).groupby(['fecha_dia'])

In [61]:
df_trafico

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,visibilidad_anterior,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area,fecha_dia
16158,Informe sin título,Julio Cesar Arango Roca ha visto un recurso,jarango@springstep.com,4 jun. 2021 09:19:13 GMT-4,Ver,1-IjJ-RHcQcnKh7WRhHK-qVbQ1lumQikD,Informe,jarango@springstep.com,190.248.25.74,NaN,NaN,Privado,4 jun. 2021,4.0,jun,6.0,2021.0,2021-06-04,TI,4
16159,Informe sin título,Julio Cesar Arango Roca ha visto un recurso,jarango@springstep.com,6 jun. 2021 23:45:09 GMT-4,Ver,1-IjJ-RHcQcnKh7WRhHK-qVbQ1lumQikD,Informe,jarango@springstep.com,181.135.230.125,NaN,NaN,Privado,6 jun. 2021,6.0,jun,6.0,2021.0,2021-06-06,TI,6
16160,Informe sin título,Julio Cesar Arango Roca ha enviado un recurso ...,jarango@springstep.com,6 jun. 2021 23:45:18 GMT-4,Papelera,1-IjJ-RHcQcnKh7WRhHK-qVbQ1lumQikD,Informe,jarango@springstep.com,181.135.230.125,NaN,NaN,Privado,6 jun. 2021,6.0,jun,6.0,2021.0,2021-06-06,TI,6
16161,Ecommerce | PEDIDOS 2.0,Daniel Alexander Bohorquez Benavides ha visto ...,dbohorquez@springstep.com,1 abr 2022 05:31:27 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,TI,1
16162,Ecommerce | PEDIDOS 2.0,Daniel Alexander Bohorquez Benavides ha visto ...,dbohorquez@springstep.com,1 abr 2022 05:31:27 GMT-5,Ver,10Z_g-XjXIYm4kM26jr8wUNAl_zF2K6AD,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,1 abr 2022,1.0,abr,4.0,2022.0,2022-04-01,TI,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277037,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI,30
277038,Mercurio | Seguimiento pedidos ecommerce,Julio Cesar Arango Roca ha cambiado los permis...,jarango@springstep.com,30 ago. 2021 11:47:14 GMT-5,Cambio en los permisos de uso compartido de lo...,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,190.248.25.74,NaN,Compartido explícitamente,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,TI,30
277039,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 12:14:42 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL,30
277040,Mercurio | Seguimiento pedidos ecommerce,Leidy Caballero ha visto un recurso,lcaballero@springstep.com,30 ago. 2021 13:08:22 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,181.49.160.217,NaN,NaN,Compartido explícitamente,30 ago. 2021,30.0,ago,8.0,2021.0,2021-08-30,COMERCIAL,30
277041,Mercurio | Seguimiento pedidos ecommerce,Omar Yesid Rodriguez ha visto un recurso,orodriguez@springstep.com,30 dic. 2020 07:30:28 GMT-5,Ver,ffbda56e-e714-4b03-9ec6-b02dd9208a90,Informe,jarango@springstep.com,201.244.107.6,NaN,NaN,Compartido explícitamente,30 dic. 2020,30.0,dic,12.0,2020.0,2020-12-30,OTRAS AREAS,30

In [62]:
df_trafico_filtro1 = df_trafico.sort_values(['fecha_dia'], ascending=False).groupby(['fecha_dia']).count()

In [64]:
df_trafico.filtro1

AttributeError: 'DataFrame' object has no attribute 'filtro1'

In [65]:
df_trafico_filtro1

,nombre,descripcion,usuario,fecha,evento,id_recurso,tipo,propietario,ip,conector,visibilidad_anterior,visibilidad,diames,dia,mes,numero_mes,anio,fecha_texto,area
fecha_dia,,,,,,,,,,,,,,,,,,,
1,3876,3876,3876,3876,3876,3876,3876,3876,3775,251,1,3876,3876,3876,3876,3876,3876,3876,3876
10,4422,4422,4422,4422,4422,4422,4422,4422,4344,218,48,4422,4422,4422,4422,4422,4422,4422,4422
11,5668,5668,5668,5668,5668,5668,5668,5668,5490,369,16,5668,5668,5668,5668,5668,5668,5668,5668
12,5088,5088,5088,5088,5088,5088,5088,5088,4820,365,43,5088,5088,5088,5088,5088,5088,5088,5088
13,4031,4031,4031,4031,4031,4031,4031,4031,3966,225,40,4031,4031,4031,4031,4031,4031,4031,4031
14,3691,3691,3691,3691,3691,3691,3691,3691,3513,139,16,3691,3691,3691,3691,3691,3691,3691,3691
15,4319,4319,4319,4319,4319,4319,4319,4319,4142,317,9,4319,4319,4319,4319,4319,4319,4319,4319
16,4654,4654,4654,4654,4654,4654,4654,4654,4459,254,263,4654,4654,4654,4654,4654,4654,4654,4654
17,4071,4071,4071,4071,4071,4071,4071,4071,3940,221,45,4071,4071,4071,4071,4071,4071,4071,4071
18,4804,4804,4804,4804,4804,4804,4804,4804,4303,271,28,4804,4804,4804,4804,4804,4804,4804,4804
19,4175,4175,4175,4175,4175,4175,4175,4175,4064,204,18,4175,4175,4175,4175,4175,4175,4175,4175
2,4052,4052,4052,4052,4052,4052,4052,4052,3868,219,44,4052,4052,4052,4052,4052,4052,4052,4052
20,128850,128850,128844,128850,128850,128850,128850,128850,125206,9950,124724,128850,126174,126174,126174,126174,126174,126174,127592
21,4909,4909,4909,4909,4909,4909,4909,4909,4688,235,120,4909,4909,4909,4909,4909,4909,4909,4909
22,5038,5038,5038,5038,5038,5038,5038,5038,4888,386,57,5038,5038,5038,5038,5038,5038,5038,5038
23,4911,4911,4911,4911,4911,4911,4911,4911,4826,302,37,4911,4911,4911,4911,4911,4911,4911,4911
24,4317,4317,4317,4317,4317,4317,4317,4317,4265,267,36,4317,4317,4317,4317,4317,4317,4317,4317
25,4340,4340,4340,4340,4340,4340,4340,4340,4275,241,24,4340,4340,4340,4340,4340,4340,4340,4340
26,4669,4669,4669,4669,4669,4669,4669,4669,4520,293,19,4669,4669,4669,4669,4669,4669,4669,4669
27,4295,4295,4295,4295,4295,4295,4295,4295,4150,119,33,4295,4295,4295,4295,4295,4295,4295,4295
28,4599,4599,4599,4599,4599,4599,4599,4599,4480,236,27,4599,4599,4599,4599,4599,4599,4599,4599
29,4161,4161,4161,4161,4161,4161,4161,4161,4088,253,13,4161,4161,4161,4161,4161,4161,4161,4161
3,4582,4582,4582,4582,4582,4582,4582,4582,4391,212,40,4582,4582,4582,4582,4582,4582,4582,4582
30,3884,3884,3884,3884,3884,3884,3884,3884,3796,218,50,3884,3884,3884,3884,3884,3884,3884,3884
31,2091,2091,2091,2091,2091,2091,2091,2091,2062,74,8,2091,2091,2091,2091,2091,2091,2091,2091
4,4733,4733,4733,4733,4733,4733,4733,4733,4536,219,26,4733,4733,4733,4733,4733,4733,4733,4733
5,4782,4782,4782,4782,4782,4782,4782,4782,4587,218,6,4782,4782,4782,4782,4782,4782,4782,4782
6,4575,4575,4575,4575,4575,4575,4575,4575,4497,172,19,4575,4575,4575,4575,4575,4575,4575,4575
7,4540,4540,4540,4540,4540,4540,4540,4540,4338,225,12,4540,4540,4540,4540,4540,4540,4540,4540
8,4713,4713,4713,4713,4713,4713,4713,4713,4403,307,81,4713,4713,4713,4713,4713,4713,4713,4713
9,4044,4044,4044,4044,4044,4044,4044,4044,3927,192,10,4044,4044,4044,4044,4044,4044,4044,4044

In [66]:
df_trafico.dtypes

nombre                   object
descripcion              object
usuario                  object
fecha                    object
evento                   object
id_recurso               object
tipo                     object
propietario              object
ip                       object
conector                 object
visibilidad_anterior     object
visibilidad              object
diames                   object
dia                     float64
mes                      object
numero_mes              float64
anio                    float64
fecha_texto              object
area                     object
fecha_dia                object
dtype: object

In [67]:
df_trafico = df_trafico["fecha_dia"].astype(int)

In [68]:
df_trafico.dtypes

dtype('int32')

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [2]:
df_trafico = pd.read_csv("trafico.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'trafico.csv'

In [3]:
df_trafico = pd.read_csv("Z:\2023\08 AGOSTO\14 LUNES\ANALISIS_TRAFICO\trafico.csv")

ValueError: embedded null character

In [4]:
df_trafico = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\ANALISIS_TRAFICO\\trafico.csv")

In [5]:
df_trafico.shape

(277042, 19)

In [6]:

df_trx = pd.read_csv("TRANSACCIONES12.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'TRANSACCIONES12.txt'

In [7]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 19964: invalid continuation byte

In [8]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|" )

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 19964: invalid continuation byte

In [9]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encodig='utf-8' )

TypeError: read_csv() got an unexpected keyword argument 'encodig'

In [10]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='utf-8' )

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd1 in position 20: invalid continuation byte

In [11]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

<ipython-input-11-96d787cacae5>:1: DtypeWarning: Columns (1,9,12,13,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

In [12]:
df_trx.shape

(248577, 22)

In [13]:
df_trx.dtypes

102514                  int64
35                     object
8/14/2023 00:00:00     object
494                     int64
0.00                  float64
0.00.1                float64
1                       int64
Unnamed: 7            float64
14                      int64
Unnamed: 9             object
Unnamed: 10           float64
0.00.2                float64
Unnamed: 12            object
Unnamed: 13            object
Unnamed: 14           float64
Unnamed: 15            object
Unnamed: 16            object
0.00.3                float64
0.00.4                float64
Unnamed: 19            object
Unnamed: 20            object
003                     int64
dtype: object

In [14]:
df_trx.rename(columns={'codigo','talla','fecha','cod_tienda','ven_und','ven_val','inv','costo_ven','multrot','ticket','vende','desc_ven','cedula','nombres','iva','origen','suborigen','valor_iva','venta_sin_iva','nomvende','cargo','compania'}, inplace=True)

TypeError: 'set' object is not callable

In [15]:
df_trx.rename(index={0:'codigo',1:'talla',2:'fecha',3:'cod_tienda',4:'ven_und',5:'ven_val',6:'inv',7:'costo_ven',8:'multrot',9:'ticket',10:'vende',11:'desc_ven',12:'cedula',13:'nombres',14:'iva',15:'origen',16:'suborigen',17:'valor_iva',18:'venta_sin_iva',19:'nomvende',20:'cargo',21:'compania'})

,102514,35,8/14/2023 00:00:00,494,0.00,0.00.1,1,Unnamed: 7,14,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,0.00.3,0.00.4,Unnamed: 19,Unnamed: 20,003
codigo,102514,39,8/14/2023 00:00:00,494,0.0,0.0,7,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
talla,102514,39,8/14/2023 00:00:00,804,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
fecha,102515,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
cod_tienda,102515,33,8/14/2023 00:00:00,443,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
ven_und,102515,35,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248572,96428,31,8/14/2023 00:00:00,17,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248573,96428,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248574,96428,32,8/14/2023 00:00:00,467,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248575,96428,32,8/14/2023 00:00:00,494,0.0,0.0,2,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248576,96627,29,8/14/2023 00:00:00,2,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,5

In [16]:
df_trx.dtypes

102514                  int64
35                     object
8/14/2023 00:00:00     object
494                     int64
0.00                  float64
0.00.1                float64
1                       int64
Unnamed: 7            float64
14                      int64
Unnamed: 9             object
Unnamed: 10           float64
0.00.2                float64
Unnamed: 12            object
Unnamed: 13            object
Unnamed: 14           float64
Unnamed: 15            object
Unnamed: 16            object
0.00.3                float64
0.00.4                float64
Unnamed: 19            object
Unnamed: 20            object
003                     int64
dtype: object

In [17]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

<ipython-input-17-96d787cacae5>:1: DtypeWarning: Columns (1,9,12,13,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

In [18]:
df_trx.rename(columns={0:'codigo',1:'talla',2:'fecha',3:'cod_tienda',4:'ven_und',5:'ven_val',6:'inv',7:'costo_ven',8:'multrot',9:'ticket',10:'vende',11:'desc_ven',12:'cedula',13:'nombres',14:'iva',15:'origen',16:'suborigen',17:'valor_iva',18:'venta_sin_iva',19:'nomvende',20:'cargo',21:'compania'})

,102514,35,8/14/2023 00:00:00,494,0.00,0.00.1,1,Unnamed: 7,14,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,0.00.3,0.00.4,Unnamed: 19,Unnamed: 20,003
0,102514,39,8/14/2023 00:00:00,494,0.0,0.0,7,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
1,102514,39,8/14/2023 00:00:00,804,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
2,102515,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
3,102515,33,8/14/2023 00:00:00,443,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
4,102515,35,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248572,96428,31,8/14/2023 00:00:00,17,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248573,96428,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248574,96428,32,8/14/2023 00:00:00,467,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248575,96428,32,8/14/2023 00:00:00,494,0.0,0.0,2,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248576,96627,29,8/14/2023 00:00:00,2,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,5

In [19]:
df_trx.dtypes

102514                  int64
35                     object
8/14/2023 00:00:00     object
494                     int64
0.00                  float64
0.00.1                float64
1                       int64
Unnamed: 7            float64
14                      int64
Unnamed: 9             object
Unnamed: 10           float64
0.00.2                float64
Unnamed: 12            object
Unnamed: 13            object
Unnamed: 14           float64
Unnamed: 15            object
Unnamed: 16            object
0.00.3                float64
0.00.4                float64
Unnamed: 19            object
Unnamed: 20            object
003                     int64
dtype: object

In [20]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

<ipython-input-20-96d787cacae5>:1: DtypeWarning: Columns (1,9,12,13,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

In [21]:
df_trx.rename(columns={0:'codigo',1:'talla',2:'fecha',3:'cod_tienda',4:'ven_und',5:'ven_val',6:'inv',7:'costo_ven',8:'multrot',9:'ticket',10:'vende',11:'desc_ven',12:'cedula',13:'nombres',14:'iva',15:'origen',16:'suborigen',17:'valor_iva',18:'venta_sin_iva',19:'nomvende',20:'cargo',21:'compania'}, axis=1, inplace=True)

TypeError: Cannot specify both 'axis' and any of 'index' or 'columns'

In [22]:
df_trx.rename(columns={0:'codigo',1:'talla',2:'fecha',3:'cod_tienda',4:'ven_und',5:'ven_val',6:'inv',7:'costo_ven',8:'multrot',9:'ticket',10:'vende',11:'desc_ven',12:'cedula',13:'nombres',14:'iva',15:'origen',16:'suborigen',17:'valor_iva',18:'venta_sin_iva',19:'nomvende',20:'cargo',21:'compania'}, inplace=True)

In [23]:
df_trx.dtypes

102514                  int64
35                     object
8/14/2023 00:00:00     object
494                     int64
0.00                  float64
0.00.1                float64
1                       int64
Unnamed: 7            float64
14                      int64
Unnamed: 9             object
Unnamed: 10           float64
0.00.2                float64
Unnamed: 12            object
Unnamed: 13            object
Unnamed: 14           float64
Unnamed: 15            object
Unnamed: 16            object
0.00.3                float64
0.00.4                float64
Unnamed: 19            object
Unnamed: 20            object
003                     int64
dtype: object

In [24]:
df_trx

,102514,35,8/14/2023 00:00:00,494,0.00,0.00.1,1,Unnamed: 7,14,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,0.00.3,0.00.4,Unnamed: 19,Unnamed: 20,003
0,102514,39,8/14/2023 00:00:00,494,0.0,0.0,7,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
1,102514,39,8/14/2023 00:00:00,804,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
2,102515,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
3,102515,33,8/14/2023 00:00:00,443,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
4,102515,35,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248572,96428,31,8/14/2023 00:00:00,17,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248573,96428,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248574,96428,32,8/14/2023 00:00:00,467,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248575,96428,32,8/14/2023 00:00:00,494,0.0,0.0,2,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248576,96627,29,8/14/2023 00:00:00,2,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,5

In [25]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

<ipython-input-25-96d787cacae5>:1: DtypeWarning: Columns (1,9,12,13,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

In [26]:
df_trx = df_trx = df_trx.rename(columns={0:'codigo',1:'talla',2:'fecha',3:'cod_tienda',4:'ven_und',5:'ven_val',6:'inv',7:'costo_ven',8:'multrot',9:'ticket',10:'vende',11:'desc_ven',12:'cedula',13:'nombres',14:'iva',15:'origen',16:'suborigen',17:'valor_iva',18:'venta_sin_iva',19:'nomvende',20:'cargo',21:'compania'}, inplace=True)

In [27]:
df_trx.dtypes

AttributeError: 'NoneType' object has no attribute 'dtypes'

In [28]:
df_trx

In [29]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

<ipython-input-29-96d787cacae5>:1: DtypeWarning: Columns (1,9,12,13,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

In [30]:
df_trx = df_trx.rename(columns={0:'codigo',1:'talla',2:'fecha',3:'cod_tienda',4:'ven_und',5:'ven_val',6:'inv',7:'costo_ven',8:'multrot',9:'ticket',10:'vende',11:'desc_ven',12:'cedula',13:'nombres',14:'iva',15:'origen',16:'suborigen',17:'valor_iva',18:'venta_sin_iva',19:'nomvende',20:'cargo',21:'compania'}, inplace=True)

In [31]:
df_trx

In [32]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

<ipython-input-32-96d787cacae5>:1: DtypeWarning: Columns (1,9,12,13,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1' )

In [33]:
df_trx

,102514,35,8/14/2023 00:00:00,494,0.00,0.00.1,1,Unnamed: 7,14,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,0.00.3,0.00.4,Unnamed: 19,Unnamed: 20,003
0,102514,39,8/14/2023 00:00:00,494,0.0,0.0,7,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
1,102514,39,8/14/2023 00:00:00,804,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
2,102515,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
3,102515,33,8/14/2023 00:00:00,443,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
4,102515,35,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248572,96428,31,8/14/2023 00:00:00,17,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248573,96428,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248574,96428,32,8/14/2023 00:00:00,467,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248575,96428,32,8/14/2023 00:00:00,494,0.0,0.0,2,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248576,96627,29,8/14/2023 00:00:00,2,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,5

In [34]:
df_trx.rename(columns={0:'codigo',1:'talla',2:'fecha',3:'cod_tienda',4:'ven_und',5:'ven_val',6:'inv',7:'costo_ven',8:'multrot',9:'ticket',10:'vende',11:'desc_ven',12:'cedula',13:'nombres',14:'iva',15:'origen',16:'suborigen',17:'valor_iva',18:'venta_sin_iva',19:'nomvende',20:'cargo',21:'compania'}, inplace=True)

In [35]:
df_trx

,102514,35,8/14/2023 00:00:00,494,0.00,0.00.1,1,Unnamed: 7,14,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,0.00.3,0.00.4,Unnamed: 19,Unnamed: 20,003
0,102514,39,8/14/2023 00:00:00,494,0.0,0.0,7,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
1,102514,39,8/14/2023 00:00:00,804,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
2,102515,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
3,102515,33,8/14/2023 00:00:00,443,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
4,102515,35,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248572,96428,31,8/14/2023 00:00:00,17,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248573,96428,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248574,96428,32,8/14/2023 00:00:00,467,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248575,96428,32,8/14/2023 00:00:00,494,0.0,0.0,2,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248576,96627,29,8/14/2023 00:00:00,2,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,5

In [36]:
df_trx.dtypes

102514                  int64
35                     object
8/14/2023 00:00:00     object
494                     int64
0.00                  float64
0.00.1                float64
1                       int64
Unnamed: 7            float64
14                      int64
Unnamed: 9             object
Unnamed: 10           float64
0.00.2                float64
Unnamed: 12            object
Unnamed: 13            object
Unnamed: 14           float64
Unnamed: 15            object
Unnamed: 16            object
0.00.3                float64
0.00.4                float64
Unnamed: 19            object
Unnamed: 20            object
003                     int64
dtype: object

In [37]:
df_trx.rename(columns={0:'codigo',1:'talla',2:'fecha',3:'cod_tienda',4:'ven_und',5:'ven_val',6:'inv',7:'costo_ven',8:'multrot',9:'ticket',10:'vende',11:'desc_ven',12:'cedula',13:'nombres',14:'iva',15:'origen',16:'suborigen',17:'valor_iva',18:'venta_sin_iva',19:'nomvende',20:'cargo',21:'compania'}, error='raise')

TypeError: DataFrame.rename() got an unexpected keyword argument 'error'

In [38]:
df_trx.rename(columns={0:'codigo',1:'talla',2:'fecha',3:'cod_tienda',4:'ven_und',5:'ven_val',6:'inv',7:'costo_ven',8:'multrot',9:'ticket',10:'vende',11:'desc_ven',12:'cedula',13:'nombres',14:'iva',15:'origen',16:'suborigen',17:'valor_iva',18:'venta_sin_iva',19:'nomvende',20:'cargo',21:'compania'}, errors='raise')

KeyError: '[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21] not found in axis'

In [39]:
df_trx

,102514,35,8/14/2023 00:00:00,494,0.00,0.00.1,1,Unnamed: 7,14,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,0.00.3,0.00.4,Unnamed: 19,Unnamed: 20,003
0,102514,39,8/14/2023 00:00:00,494,0.0,0.0,7,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
1,102514,39,8/14/2023 00:00:00,804,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
2,102515,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
3,102515,33,8/14/2023 00:00:00,443,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
4,102515,35,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248572,96428,31,8/14/2023 00:00:00,17,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248573,96428,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248574,96428,32,8/14/2023 00:00:00,467,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248575,96428,32,8/14/2023 00:00:00,494,0.0,0.0,2,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248576,96627,29,8/14/2023 00:00:00,2,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,5

In [40]:
df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1', header=None, names=['codigo','talla','fecha','cod_tienda','ven_und','ven_val','inv','costo_ven','multrot','ticket','vende','desc_ven','cedula','nombres','iva','origen','suborigen','valor_iva','venta_sin_iva','nomvende','cargo','compania'] )

<ipython-input-40-596a9fda8c28>:1: DtypeWarning: Columns (1,9,12,13,15,16,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trx = pd.read_csv("Z:\\2023\\08 AGOSTO\\14 LUNES\\ANALISIS_TRAFICO\\TRANSACCIONES12.txt", sep="|", encoding='ISO-8859-1', header=None, names=['codigo','talla','fecha','cod_tienda','ven_und','ven_val','inv','costo_ven','multrot','ticket','vende','desc_ven','cedula','nombres','iva','origen','suborigen','valor_iva','venta_sin_iva','nomvende','cargo','compania'] )

In [41]:
df_trx

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
0,102514,35,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
1,102514,39,8/14/2023 00:00:00,494,0.0,0.0,7,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
2,102514,39,8/14/2023 00:00:00,804,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
3,102515,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
4,102515,33,8/14/2023 00:00:00,443,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248573,96428,31,8/14/2023 00:00:00,17,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248574,96428,31,8/14/2023 00:00:00,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248575,96428,32,8/14/2023 00:00:00,467,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248576,96428,32,8/14/2023 00:00:00,494,0.0,0.0,2,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248577,96627,29,8/14/2023 00:00:00,2,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,5

In [42]:
df_trx.dtypes

codigo             int64
talla             object
fecha             object
cod_tienda         int64
ven_und          float64
ven_val          float64
inv                int64
costo_ven        float64
multrot            int64
ticket            object
vende            float64
desc_ven         float64
cedula            object
nombres           object
iva              float64
origen            object
suborigen         object
valor_iva        float64
venta_sin_iva    float64
nomvende          object
cargo             object
compania           int64
dtype: object

In [43]:
df_trx['fecha'] = pd.to_datetime(df_trx['fecha'])

In [44]:
df_trx.dtypes

codigo                    int64
talla                    object
fecha            datetime64[ns]
cod_tienda                int64
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                   float64
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                  int64
dtype: object

In [45]:
df_trx['codigo'].astype('object')

0         102514
1         102514
2         102514
3         102515
4         102515
           ...
248573     96428
248574     96428
248575     96428
248576     96428
248577     96627
Name: codigo, Length: 248578, dtype: object

In [46]:
df_trx.dtypes

codigo                    int64
talla                    object
fecha            datetime64[ns]
cod_tienda                int64
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                   float64
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                  int64
dtype: object

In [47]:
df_trx['codigo'] = df_trx['codigo'].astype('object')

In [48]:
df_trx.dtypes

codigo                   object
talla                    object
fecha            datetime64[ns]
cod_tienda                int64
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                   float64
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                  int64
dtype: object

In [49]:
df_trx['cod_tienda'] = df_trx['cod_tienda'].astype('object')

In [50]:
df_trx.dtypes

codigo                   object
talla                    object
fecha            datetime64[ns]
cod_tienda               object
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                   float64
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                  int64
dtype: object

In [51]:
df_trx['vende'] = df_trx['vende'].astype('object')

In [52]:

df_trx.dtypes

codigo                   object
talla                    object
fecha            datetime64[ns]
cod_tienda               object
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                    object
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                  int64
dtype: object

In [53]:
df_trx['compania'] = df_trx['compania'].astype('object')

In [54]:

df_trx.dtypes

codigo                   object
talla                    object
fecha            datetime64[ns]
cod_tienda               object
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                    object
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                 object
dtype: object

In [55]:
df_trx.groupby['fecha'].sum()

TypeError: 'method' object is not subscriptable

In [56]:
df_trx.groupby(['fecha']).sum()

<ipython-input-56-565c7e7653cd>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_trx.groupby(['fecha']).sum()

,ven_und,ven_val,inv,costo_ven,multrot,desc_ven,iva,valor_iva,venta_sin_iva
fecha,,,,,,,,,
2023-08-01,1544.0,163243258.0,0,72329633.0,25312,1841415.0,34352.0,26064042.31,1.371792e+08
2023-08-02,1765.0,183111995.0,0,81588589.0,27188,3190672.0,36898.0,29236360.77,1.538756e+08
2023-08-03,1707.0,183834271.0,0,81073636.0,26530,2495503.0,36005.0,29351682.82,1.544826e+08
2023-08-04,1944.0,193942931.0,0,89147138.0,29722,2820523.0,40337.0,30965668.75,1.629772e+08
2023-08-05,2724.0,271982121.0,0,125991126.0,41776,5962548.0,56696.0,43425703.76,2.285564e+08
2023-08-06,2095.0,218194341.0,0,101269039.0,31304,5266951.0,42484.0,34837741.90,1.833566e+08
2023-08-07,1972.0,197856060.0,0,93347874.0,29834,5238001.0,40489.0,31590453.57,1.662656e+08
2023-08-08,1485.0,140918795.0,0,65323178.0,23646,4079516.0,32091.0,22499632.22,1.184191e+08
2023-08-09,1381.0,133100980.0,0,62409089.0,22078,4182786.0,29963.0,21251410.41,1.118496e+08
2023-08-10,1516.0,156215080.0,0,73308919.0,23870,4473935.0,32395.0,24941896.25,1.312732e+08
2023-08-11,1728.0,169130863.0,0,79642831.0,27734,4790706.0,37639.0,27004079.07,1.421268e+08
2023-08-12,2721.0,267813430.0,0,126724615.0,41860,7154826.0,56810.0,42760114.17,2.250533e+08
2023-08-13,2240.0,231286660.0,0,107571767.0,34174,5657760.0,46379.0,36928111.48,1.943585e+08
2023-08-14,1499.0,151990418.0,521925,71261810.0,3095064,4084694.0,32585.0,24267370.54,1.277230e+08

In [57]:
import smtplib
from email.message import EmailMessage

In [58]:
df_trx_resumen = df_trx.groupby(['fecha']).sum()

<ipython-input-58-318ed74f3f49>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_trx_resumen = df_trx.groupby(['fecha']).sum()

In [59]:
df_trx_resumen

,ven_und,ven_val,inv,costo_ven,multrot,desc_ven,iva,valor_iva,venta_sin_iva
fecha,,,,,,,,,
2023-08-01,1544.0,163243258.0,0,72329633.0,25312,1841415.0,34352.0,26064042.31,1.371792e+08
2023-08-02,1765.0,183111995.0,0,81588589.0,27188,3190672.0,36898.0,29236360.77,1.538756e+08
2023-08-03,1707.0,183834271.0,0,81073636.0,26530,2495503.0,36005.0,29351682.82,1.544826e+08
2023-08-04,1944.0,193942931.0,0,89147138.0,29722,2820523.0,40337.0,30965668.75,1.629772e+08
2023-08-05,2724.0,271982121.0,0,125991126.0,41776,5962548.0,56696.0,43425703.76,2.285564e+08
2023-08-06,2095.0,218194341.0,0,101269039.0,31304,5266951.0,42484.0,34837741.90,1.833566e+08
2023-08-07,1972.0,197856060.0,0,93347874.0,29834,5238001.0,40489.0,31590453.57,1.662656e+08
2023-08-08,1485.0,140918795.0,0,65323178.0,23646,4079516.0,32091.0,22499632.22,1.184191e+08
2023-08-09,1381.0,133100980.0,0,62409089.0,22078,4182786.0,29963.0,21251410.41,1.118496e+08
2023-08-10,1516.0,156215080.0,0,73308919.0,23870,4473935.0,32395.0,24941896.25,1.312732e+08
2023-08-11,1728.0,169130863.0,0,79642831.0,27734,4790706.0,37639.0,27004079.07,1.421268e+08
2023-08-12,2721.0,267813430.0,0,126724615.0,41860,7154826.0,56810.0,42760114.17,2.250533e+08
2023-08-13,2240.0,231286660.0,0,107571767.0,34174,5657760.0,46379.0,36928111.48,1.943585e+08
2023-08-14,1499.0,151990418.0,521925,71261810.0,3095064,4084694.0,32585.0,24267370.54,1.277230e+08

In [60]:
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from smtplib import SMTP
import smtplib
import sys

In [61]:
recipients = ['sluque@cmlogistics.com.co']

In [62]:
emaillist = [elem.strip().split(',') for elem in recipients]

In [63]:
msg = MIMEMultipart()

In [64]:
msg['Subject'] = 'Resumen de procesamiento diario'

In [65]:
msg['From'] = 'sluque@cmlogistics.com.co'

In [66]:
html ="""\
<html>
<head></head>
<body>
{0}
</body>
</html>
""".format(df_trx_resumen.to_html())

In [67]:
part1 = MIMEText(html, 'html')

In [68]:
msg.attach(part1)

In [69]:
server = smtplib.SMTP('smtp.gmail.com', 587)

In [70]:
server.sendmail(msg['From'], emaillist, msg.as_string())

SMTPSenderRefused: (530, b'5.7.0 Must issue a STARTTLS command first. i64-20020a0df843000000b005704c4d3579sm3446350ywf.40 - gsmtp', 'sluque@cmlogistics.com.co')

In [71]:
import ssl

In [72]:
context = ssl.create_default_context()

In [73]:
server.starttls(context)

<ipython-input-73-8d56fecbf298>:1: DeprecationWarning: keyfile and certfile are deprecated, use a custom context instead
  server.starttls(context)

ValueError: certfile must be specified

In [74]:
server.login('sluque@cmlogistics.com.co','Premio18%')

SMTPNotSupportedError: SMTP AUTH extension not supported by server.

In [75]:
server = smtplib.SMTP_SSL('smtp.gmail.com')

In [76]:
server.login('biadmin@cmlogistics.com.co','ieuyihhnvmkcswkk')

(235, b'2.7.0 Accepted')

In [77]:
server.sendmail(msg['From'], emaillist, msg.as_string())

{}

In [78]:
server.quit()

(221,
 b'2.0.0 closing connection a80-20020a0dd853000000b00545a08184cesm2194717ywe.94 - gsmtp')

In [79]:
df_trx_resumen = df_trx.groupby(['fecha']).sum()

<ipython-input-79-318ed74f3f49>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_trx_resumen = df_trx.groupby(['fecha']).sum()

In [80]:
df_trx_resumen = df_trx.groupby(['fecha']).agg()

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [81]:
df_trx_resumen

,ven_und,ven_val,inv,costo_ven,multrot,desc_ven,iva,valor_iva,venta_sin_iva
fecha,,,,,,,,,
2023-08-01,1544.0,163243258.0,0,72329633.0,25312,1841415.0,34352.0,26064042.31,1.371792e+08
2023-08-02,1765.0,183111995.0,0,81588589.0,27188,3190672.0,36898.0,29236360.77,1.538756e+08
2023-08-03,1707.0,183834271.0,0,81073636.0,26530,2495503.0,36005.0,29351682.82,1.544826e+08
2023-08-04,1944.0,193942931.0,0,89147138.0,29722,2820523.0,40337.0,30965668.75,1.629772e+08
2023-08-05,2724.0,271982121.0,0,125991126.0,41776,5962548.0,56696.0,43425703.76,2.285564e+08
2023-08-06,2095.0,218194341.0,0,101269039.0,31304,5266951.0,42484.0,34837741.90,1.833566e+08
2023-08-07,1972.0,197856060.0,0,93347874.0,29834,5238001.0,40489.0,31590453.57,1.662656e+08
2023-08-08,1485.0,140918795.0,0,65323178.0,23646,4079516.0,32091.0,22499632.22,1.184191e+08
2023-08-09,1381.0,133100980.0,0,62409089.0,22078,4182786.0,29963.0,21251410.41,1.118496e+08
2023-08-10,1516.0,156215080.0,0,73308919.0,23870,4473935.0,32395.0,24941896.25,1.312732e+08
2023-08-11,1728.0,169130863.0,0,79642831.0,27734,4790706.0,37639.0,27004079.07,1.421268e+08
2023-08-12,2721.0,267813430.0,0,126724615.0,41860,7154826.0,56810.0,42760114.17,2.250533e+08
2023-08-13,2240.0,231286660.0,0,107571767.0,34174,5657760.0,46379.0,36928111.48,1.943585e+08
2023-08-14,1499.0,151990418.0,521925,71261810.0,3095064,4084694.0,32585.0,24267370.54,1.277230e+08

In [82]:
df_trx.sum(['ven_und'])

TypeError: unhashable type: 'list'

In [83]:
df_trx.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         codigo talla      fecha cod_tienda  ven_und  ven_val  inv  costo_ven  \
0       102514    35 2023-08-14        494      0.0      0.0    1        NaN
1       102514    39 2023-08-14        494      0.0      0.0    7        NaN
2       102514    39 2023-08-14        804      0.0      0.0    1        NaN
3       102515    31 2023-08-14        494      0.0      0.0    1        NaN
4       102515    33 2023-08-14        443      0.0      0.0    1        NaN
...        ...   ...        ...        ...      ...      ...  ...        ...
248573   96428    31 2023-08-14         17      0.0      0.0    1        NaN
248574   96428    31 2023-08-14        494      0.0      0.0    1        NaN
248575   96428    32 2023-08-14        467      0.0      0.0    1        NaN
248576   96428    32 2023-08-14        494      0.0      0.0    2        NaN
248577   96627    29 2023-08-14          2      0.0      0.0    1        NaN

        multrot ticket  ... cedula  nombres iva origen  suborigen valor_iva  \
0            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
1            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
2            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
3            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
4            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
...         ...    ...  ...    ...      ...  ..    ...        ...       ...
248573       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248574       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248575       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248576       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248577       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0

       venta_sin_iva  nomvende  cargo compania
0                0.0       NaN    NaN        3
1                0.0       NaN    NaN        3
2                0.0       NaN    NaN        3
3                0.0       NaN    NaN        3
4                0.0       NaN    NaN        3
...              ...       ...    ...      ...
248573           0.0       NaN    NaN        3
248574           0.0       NaN    NaN        3
248575           0.0       NaN    NaN        3
248576           0.0       NaN    NaN        3
248577           0.0       NaN    NaN        5

[248578 rows x 22 columns]>

In [84]:
df_trx.sum(axis=1)

<ipython-input-84-cec579be8155>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_trx.sum(axis=1)

0         15.0
1         21.0
2         15.0
3         15.0
4         15.0
          ...
248573    15.0
248574    15.0
248575    15.0
248576    16.0
248577    15.0
Length: 248578, dtype: float64

In [85]:
df_trx

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
0,102514,35,2023-08-14,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
1,102514,39,2023-08-14,494,0.0,0.0,7,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
2,102514,39,2023-08-14,804,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
3,102515,31,2023-08-14,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
4,102515,33,2023-08-14,443,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248573,96428,31,2023-08-14,17,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248574,96428,31,2023-08-14,494,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248575,96428,32,2023-08-14,467,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248576,96428,32,2023-08-14,494,0.0,0.0,2,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,3
248577,96627,29,2023-08-14,2,0.0,0.0,1,NaN,14,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,5

In [86]:
df_trx_resumen

,ven_und,ven_val,inv,costo_ven,multrot,desc_ven,iva,valor_iva,venta_sin_iva
fecha,,,,,,,,,
2023-08-01,1544.0,163243258.0,0,72329633.0,25312,1841415.0,34352.0,26064042.31,1.371792e+08
2023-08-02,1765.0,183111995.0,0,81588589.0,27188,3190672.0,36898.0,29236360.77,1.538756e+08
2023-08-03,1707.0,183834271.0,0,81073636.0,26530,2495503.0,36005.0,29351682.82,1.544826e+08
2023-08-04,1944.0,193942931.0,0,89147138.0,29722,2820523.0,40337.0,30965668.75,1.629772e+08
2023-08-05,2724.0,271982121.0,0,125991126.0,41776,5962548.0,56696.0,43425703.76,2.285564e+08
2023-08-06,2095.0,218194341.0,0,101269039.0,31304,5266951.0,42484.0,34837741.90,1.833566e+08
2023-08-07,1972.0,197856060.0,0,93347874.0,29834,5238001.0,40489.0,31590453.57,1.662656e+08
2023-08-08,1485.0,140918795.0,0,65323178.0,23646,4079516.0,32091.0,22499632.22,1.184191e+08
2023-08-09,1381.0,133100980.0,0,62409089.0,22078,4182786.0,29963.0,21251410.41,1.118496e+08
2023-08-10,1516.0,156215080.0,0,73308919.0,23870,4473935.0,32395.0,24941896.25,1.312732e+08
2023-08-11,1728.0,169130863.0,0,79642831.0,27734,4790706.0,37639.0,27004079.07,1.421268e+08
2023-08-12,2721.0,267813430.0,0,126724615.0,41860,7154826.0,56810.0,42760114.17,2.250533e+08
2023-08-13,2240.0,231286660.0,0,107571767.0,34174,5657760.0,46379.0,36928111.48,1.943585e+08
2023-08-14,1499.0,151990418.0,521925,71261810.0,3095064,4084694.0,32585.0,24267370.54,1.277230e+08

In [87]:
df_trx.shape

(248578, 22)

In [88]:
df_trx.head

<bound method NDFrame.head of         codigo talla      fecha cod_tienda  ven_und  ven_val  inv  costo_ven  \
0       102514    35 2023-08-14        494      0.0      0.0    1        NaN
1       102514    39 2023-08-14        494      0.0      0.0    7        NaN
2       102514    39 2023-08-14        804      0.0      0.0    1        NaN
3       102515    31 2023-08-14        494      0.0      0.0    1        NaN
4       102515    33 2023-08-14        443      0.0      0.0    1        NaN
...        ...   ...        ...        ...      ...      ...  ...        ...
248573   96428    31 2023-08-14         17      0.0      0.0    1        NaN
248574   96428    31 2023-08-14        494      0.0      0.0    1        NaN
248575   96428    32 2023-08-14        467      0.0      0.0    1        NaN
248576   96428    32 2023-08-14        494      0.0      0.0    2        NaN
248577   96627    29 2023-08-14          2      0.0      0.0    1        NaN

        multrot ticket  ... cedula  nombres iva origen  suborigen valor_iva  \
0            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
1            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
2            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
3            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
4            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
...         ...    ...  ...    ...      ...  ..    ...        ...       ...
248573       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248574       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248575       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248576       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248577       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0

       venta_sin_iva  nomvende  cargo compania
0                0.0       NaN    NaN        3
1                0.0       NaN    NaN        3
2                0.0       NaN    NaN        3
3                0.0       NaN    NaN        3
4                0.0       NaN    NaN        3
...              ...       ...    ...      ...
248573           0.0       NaN    NaN        3
248574           0.0       NaN    NaN        3
248575           0.0       NaN    NaN        3
248576           0.0       NaN    NaN        3
248577           0.0       NaN    NaN        5

[248578 rows x 22 columns]>

In [89]:
df_trx.tail

<bound method NDFrame.tail of         codigo talla      fecha cod_tienda  ven_und  ven_val  inv  costo_ven  \
0       102514    35 2023-08-14        494      0.0      0.0    1        NaN
1       102514    39 2023-08-14        494      0.0      0.0    7        NaN
2       102514    39 2023-08-14        804      0.0      0.0    1        NaN
3       102515    31 2023-08-14        494      0.0      0.0    1        NaN
4       102515    33 2023-08-14        443      0.0      0.0    1        NaN
...        ...   ...        ...        ...      ...      ...  ...        ...
248573   96428    31 2023-08-14         17      0.0      0.0    1        NaN
248574   96428    31 2023-08-14        494      0.0      0.0    1        NaN
248575   96428    32 2023-08-14        467      0.0      0.0    1        NaN
248576   96428    32 2023-08-14        494      0.0      0.0    2        NaN
248577   96627    29 2023-08-14          2      0.0      0.0    1        NaN

        multrot ticket  ... cedula  nombres iva origen  suborigen valor_iva  \
0            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
1            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
2            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
3            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
4            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
...         ...    ...  ...    ...      ...  ..    ...        ...       ...
248573       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248574       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248575       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248576       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248577       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0

       venta_sin_iva  nomvende  cargo compania
0                0.0       NaN    NaN        3
1                0.0       NaN    NaN        3
2                0.0       NaN    NaN        3
3                0.0       NaN    NaN        3
4                0.0       NaN    NaN        3
...              ...       ...    ...      ...
248573           0.0       NaN    NaN        3
248574           0.0       NaN    NaN        3
248575           0.0       NaN    NaN        3
248576           0.0       NaN    NaN        3
248577           0.0       NaN    NaN        5

[248578 rows x 22 columns]>

In [90]:
df_trx.describe

<bound method NDFrame.describe of         codigo talla      fecha cod_tienda  ven_und  ven_val  inv  costo_ven  \
0       102514    35 2023-08-14        494      0.0      0.0    1        NaN
1       102514    39 2023-08-14        494      0.0      0.0    7        NaN
2       102514    39 2023-08-14        804      0.0      0.0    1        NaN
3       102515    31 2023-08-14        494      0.0      0.0    1        NaN
4       102515    33 2023-08-14        443      0.0      0.0    1        NaN
...        ...   ...        ...        ...      ...      ...  ...        ...
248573   96428    31 2023-08-14         17      0.0      0.0    1        NaN
248574   96428    31 2023-08-14        494      0.0      0.0    1        NaN
248575   96428    32 2023-08-14        467      0.0      0.0    1        NaN
248576   96428    32 2023-08-14        494      0.0      0.0    2        NaN
248577   96627    29 2023-08-14          2      0.0      0.0    1        NaN

        multrot ticket  ... cedula  nombres iva origen  suborigen valor_iva  \
0            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
1            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
2            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
3            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
4            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
...         ...    ...  ...    ...      ...  ..    ...        ...       ...
248573       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248574       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248575       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248576       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248577       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0

       venta_sin_iva  nomvende  cargo compania
0                0.0       NaN    NaN        3
1                0.0       NaN    NaN        3
2                0.0       NaN    NaN        3
3                0.0       NaN    NaN        3
4                0.0       NaN    NaN        3
...              ...       ...    ...      ...
248573           0.0       NaN    NaN        3
248574           0.0       NaN    NaN        3
248575           0.0       NaN    NaN        3
248576           0.0       NaN    NaN        3
248577           0.0       NaN    NaN        5

[248578 rows x 22 columns]>

In [91]:
df_trx.describe()

,ven_und,ven_val,inv,costo_ven,multrot,desc_ven,iva,valor_iva,venta_sin_iva
count,248578.000000,2.485780e+05,248578.000000,29217.000000,248578.0,248578.000000,29217.0,248578.000000,248578.000000
mean,0.105886,1.071141e+04,2.099643,42132.636616,14.0,246.360643,19.0,1710.224831,9001.185478
std,0.341007,4.472777e+04,5.885210,43159.235011,0.0,2089.428476,0.0,7141.407670,37586.361303
min,-3.000000,-5.349000e+05,0.000000,-226424.000000,14.0,0.000000,19.0,-85404.200000,-449495.790000
25%,0.000000,0.000000e+00,1.000000,14571.000000,14.0,0.000000,19.0,0.000000,0.000000
50%,0.000000,0.000000e+00,1.000000,40296.000000,14.0,0.000000,19.0,0.000000,0.000000
75%,0.000000,0.000000e+00,2.000000,60038.000000,14.0,0.000000,19.0,0.000000,0.000000
max,9.000000,1.119300e+06,1131.000000,470295.000000,14.0,120958.000000,19.0,178711.760000,940588.230000

In [92]:
df_trx_filter = df_trx.dropna()

In [93]:
df_trx_filter

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
93,182874,44,2023-08-11,292,1.0,9050.0,0,6504.0,14,O292/804755,...,31407390,CECILIA DUQUE,19.0,TIENDAS,TIENDAS,1444.95,7605.04,MARIA CAMILA OSPINA,VEN,3
94,183422,44,2023-08-07,74,1.0,33000.0,0,16639.0,14,B074/838574,...,1019040482,LUISA CORTES,19.0,TIENDAS,TIENDAS,5268.90,27731.09,DANIEL DAVID CARRILLO,VEN,5
95,183422,44,2023-08-12,12,1.0,33000.0,0,16639.0,14,B012/828448,...,37315842,ANA FELISA CLAVIJO,19.0,TIENDAS,TIENDAS,5268.90,27731.09,SAUL ROMERO,VEN,5
96,183429,44,2023-08-05,74,1.0,18200.0,0,9176.0,14,B074/16906,...,1013649132,LUISA VEGA,19.0,TIENDAS,TIENDAS,2905.88,15294.11,JESUS GABRIEL GAVIRIA,VEN,5
97,183429,44,2023-08-14,74,-1.0,-18200.0,0,-9176.0,14,B074/421,...,1054120187,IRMA PEREZ,19.0,TIENDAS,TIENDAS,-2905.88,-15294.11,CAMILO ANDRES RUIZ,VEN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29485,636721,38,2023-08-13,76,1.0,299900.0,0,138609.0,14,B076/843227,...,52132647,LUZ HENA RODRIGUEZ,19.0,TIENDAS,TIENDAS,47883.19,252016.80,ANDR+S IGNACIO VALENCIA,VEN,5
29486,636721,39,2023-08-14,12,1.0,299900.0,0,138609.0,14,B012/5304,...,60361006,JOSE ESTELA DIAZ,19.0,TIENDAS,TIENDAS,47883.19,252016.80,SAUL ROMERO,VEN,5
29487,636721,40,2023-08-12,76,1.0,299900.0,0,138609.0,14,B076/843161,...,49729132,MIRIAM VERGARA,19.0,TIENDAS,TIENDAS,47883.19,252016.80,ANDR+S IGNACIO VALENCIA,VEN,5
29488,636722,37,2023-08-13,14,1.0,299900.0,0,138609.0,14,B014/39414,...,51930502,INES CAMACHO,19.0,TIENDAS,TIENDAS,47883.19,252016.80,LEISER DUBAN BARAHONA,VEN,5
29489,636726,35,2023-08-14,76,1.0,144000.0,0,66555.0,14,B076/843303,...,52865893,ADRIANA MARTINEZ,19.0,TIENDAS,TIENDAS,22991.59,121008.40,CRISTHIAN ANDRES GUERRERO,VEN,5

In [94]:
df_trx_filter = df_trx.fillna(0)

In [95]:
df_trx_filter.head

<bound method NDFrame.head of         codigo talla      fecha  cod_tienda  ven_und  ven_val  inv  costo_ven  \
0       102514    35 2023-08-14         494      0.0      0.0    1        0.0
1       102514    39 2023-08-14         494      0.0      0.0    7        0.0
2       102514    39 2023-08-14         804      0.0      0.0    1        0.0
3       102515    31 2023-08-14         494      0.0      0.0    1        0.0
4       102515    33 2023-08-14         443      0.0      0.0    1        0.0
...        ...   ...        ...         ...      ...      ...  ...        ...
248573   96428    31 2023-08-14          17      0.0      0.0    1        0.0
248574   96428    31 2023-08-14         494      0.0      0.0    1        0.0
248575   96428    32 2023-08-14         467      0.0      0.0    1        0.0
248576   96428    32 2023-08-14         494      0.0      0.0    2        0.0
248577   96627    29 2023-08-14           2      0.0      0.0    1        0.0

        multrot ticket  ...  cedula  nombres  iva origen  suborigen valor_iva  \
0            14      0  ...       0        0  0.0      0          0       0.0
1            14      0  ...       0        0  0.0      0          0       0.0
2            14      0  ...       0        0  0.0      0          0       0.0
3            14      0  ...       0        0  0.0      0          0       0.0
4            14      0  ...       0        0  0.0      0          0       0.0
...         ...    ...  ...     ...      ...  ...    ...        ...       ...
248573       14      0  ...       0        0  0.0      0          0       0.0
248574       14      0  ...       0        0  0.0      0          0       0.0
248575       14      0  ...       0        0  0.0      0          0       0.0
248576       14      0  ...       0        0  0.0      0          0       0.0
248577       14      0  ...       0        0  0.0      0          0       0.0

       venta_sin_iva  nomvende  cargo compania
0                0.0         0      0        3
1                0.0         0      0        3
2                0.0         0      0        3
3                0.0         0      0        3
4                0.0         0      0        3
...              ...       ...    ...      ...
248573           0.0         0      0        3
248574           0.0         0      0        3
248575           0.0         0      0        3
248576           0.0         0      0        3
248577           0.0         0      0        5

[248578 rows x 22 columns]>

In [96]:
df_trx.head

<bound method NDFrame.head of         codigo talla      fecha cod_tienda  ven_und  ven_val  inv  costo_ven  \
0       102514    35 2023-08-14        494      0.0      0.0    1        NaN
1       102514    39 2023-08-14        494      0.0      0.0    7        NaN
2       102514    39 2023-08-14        804      0.0      0.0    1        NaN
3       102515    31 2023-08-14        494      0.0      0.0    1        NaN
4       102515    33 2023-08-14        443      0.0      0.0    1        NaN
...        ...   ...        ...        ...      ...      ...  ...        ...
248573   96428    31 2023-08-14         17      0.0      0.0    1        NaN
248574   96428    31 2023-08-14        494      0.0      0.0    1        NaN
248575   96428    32 2023-08-14        467      0.0      0.0    1        NaN
248576   96428    32 2023-08-14        494      0.0      0.0    2        NaN
248577   96627    29 2023-08-14          2      0.0      0.0    1        NaN

        multrot ticket  ... cedula  nombres iva origen  suborigen valor_iva  \
0            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
1            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
2            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
3            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
4            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
...         ...    ...  ...    ...      ...  ..    ...        ...       ...
248573       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248574       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248575       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248576       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248577       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0

       venta_sin_iva  nomvende  cargo compania
0                0.0       NaN    NaN        3
1                0.0       NaN    NaN        3
2                0.0       NaN    NaN        3
3                0.0       NaN    NaN        3
4                0.0       NaN    NaN        3
...              ...       ...    ...      ...
248573           0.0       NaN    NaN        3
248574           0.0       NaN    NaN        3
248575           0.0       NaN    NaN        3
248576           0.0       NaN    NaN        3
248577           0.0       NaN    NaN        5

[248578 rows x 22 columns]>

In [97]:
df_trx_filtrado.describe()

NameError: name 'df_trx_filtrado' is not defined

In [98]:
df_trx_filter.describe()

,codigo,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,vende,desc_ven,iva,valor_iva,venta_sin_iva,compania
count,248578.000000,248578.000000,248578.000000,2.485780e+05,248578.000000,248578.000000,248578.0,2.485780e+05,248578.000000,248578.000000,248578.000000,248578.000000,248578.000000
mean,517905.157013,220.577267,0.105886,1.071141e+04,2.099643,4952.124661,14.0,9.221310e+07,246.360643,2.233194,1710.224831,9001.185478,4.634014
std,172262.626079,189.396236,0.341007,4.472777e+04,5.885210,20076.211935,0.0,2.969252e+08,2089.428476,6.119125,7141.407670,37586.361303,0.806468
min,34883.000000,2.000000,-3.000000,-5.349000e+05,0.000000,-226424.000000,14.0,0.000000e+00,0.000000,0.000000,-85404.200000,-449495.790000,1.000000
25%,276601.000000,76.000000,0.000000,0.000000e+00,1.000000,0.000000,14.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,5.000000
50%,631891.000000,179.000000,0.000000,0.000000e+00,1.000000,0.000000,14.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,5.000000
75%,634581.000000,266.000000,0.000000,0.000000e+00,2.000000,0.000000,14.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,5.000000
max,636726.000000,809.000000,9.000000,1.119300e+06,1131.000000,470295.000000,14.0,1.237441e+09,120958.000000,19.000000,178711.760000,940588.230000,5.000000

In [99]:
df_trx.dtypes

codigo                   object
talla                    object
fecha            datetime64[ns]
cod_tienda               object
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                    object
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                 object
dtype: object

In [100]:
df_trx_filter.dtypes

codigo                    int64
talla                    object
fecha            datetime64[ns]
cod_tienda                int64
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                   float64
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                  int64
dtype: object

In [101]:
df_trx_filter['fecha'] = pd.to_datetime(df_trx_filter['fecha'])
df_trx_filter['codigo'] = df_trx_filter['codigo'].astype('object')
df_trx_filter['cod_tienda'] = df_trx_filter['cod_tienda'].astype('object')
df_trx_filter['vende'] = df_trx_filter['vende'].astype('object')
df_trx_filter['compania'] = df_trx_filter['compania'].astype('object')

In [102]:
df_trx_filter.dtypes

codigo                   object
talla                    object
fecha            datetime64[ns]
cod_tienda               object
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                    object
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                 object
dtype: object

In [103]:
df_trx_filter.describe()

,ven_und,ven_val,inv,costo_ven,multrot,desc_ven,iva,valor_iva,venta_sin_iva
count,248578.000000,2.485780e+05,248578.000000,248578.000000,248578.0,248578.000000,248578.000000,248578.000000,248578.000000
mean,0.105886,1.071141e+04,2.099643,4952.124661,14.0,246.360643,2.233194,1710.224831,9001.185478
std,0.341007,4.472777e+04,5.885210,20076.211935,0.0,2089.428476,6.119125,7141.407670,37586.361303
min,-3.000000,-5.349000e+05,0.000000,-226424.000000,14.0,0.000000,0.000000,-85404.200000,-449495.790000
25%,0.000000,0.000000e+00,1.000000,0.000000,14.0,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000e+00,1.000000,0.000000,14.0,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000e+00,2.000000,0.000000,14.0,0.000000,0.000000,0.000000,0.000000
max,9.000000,1.119300e+06,1131.000000,470295.000000,14.0,120958.000000,19.000000,178711.760000,940588.230000

In [104]:
df_trx_filter['codigo']

0         102514
1         102514
2         102514
3         102515
4         102515
           ...
248573     96428
248574     96428
248575     96428
248576     96428
248577     96627
Name: codigo, Length: 248578, dtype: object

In [105]:
df_trx_filter[['codigo', 'ven_und']]

        codigo  ven_und
0       102514      0.0
1       102514      0.0
2       102514      0.0
3       102515      0.0
4       102515      0.0
...        ...      ...
248573   96428      0.0
248574   96428      0.0
248575   96428      0.0
248576   96428      0.0
248577   96627      0.0

[248578 rows x 2 columns]

In [106]:
df_trx_filter.iloc[0]

codigo                        102514
talla                             35
fecha            2023-08-14 00:00:00
cod_tienda                       494
ven_und                          0.0
ven_val                          0.0
inv                                1
costo_ven                        0.0
multrot                           14
ticket                             0
vende                            0.0
desc_ven                         0.0
cedula                             0
nombres                            0
iva                              0.0
origen                             0
suborigen                          0
valor_iva                        0.0
venta_sin_iva                    0.0
nomvende                           0
cargo                              0
compania                           3
Name: 0, dtype: object

In [107]:
df_trx_filter[1:3]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
1,102514,39,2023-08-14,494,0.0,0.0,7,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
2,102514,39,2023-08-14,804,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3

In [108]:
df_trx_filter[0:3]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
0,102514,35,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
1,102514,39,2023-08-14,494,0.0,0.0,7,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
2,102514,39,2023-08-14,804,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3

In [109]:
df_trx_filter.iloc[0,2]

Timestamp('2023-08-14 00:00:00')

In [110]:
df_trx_filter.iloc[0:2]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
0,102514,35,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
1,102514,39,2023-08-14,494,0.0,0.0,7,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3

In [111]:
df_trx_filter.iloc[0:3]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
0,102514,35,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
1,102514,39,2023-08-14,494,0.0,0.0,7,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
2,102514,39,2023-08-14,804,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3

In [112]:
df_trx_filter.iloc[[1,3,5,7]]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
1,102514,39,2023-08-14,494,0.0,0.0,7,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
3,102515,31,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
5,102515,35,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
7,102515,39,2023-08-14,443,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3

In [113]:
df_trx_filter.loc[[248573,248574]]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
248573,96428,31,2023-08-14,17,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3
248574,96428,31,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0,0.0,0,0,0.0,0.0,0,0,3

In [114]:
df_trx_filter.loc[[248573,248574],['venta_sin_iva']]

        venta_sin_iva
248573            0.0
248574            0.0

In [115]:
df_trx_filter.loc[[248573,248574],['inv']]

        inv
248573    1
248574    1

In [116]:
df_trx_filter.loc[[248573,248574],['inv','ven_und']]

        inv  ven_und
248573    1      0.0
248574    1      0.0

In [117]:
df_trx_filter[df_trx_filter['ven_und'] > 3]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
15198,632991,38,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,YENNY MARCELA RESTREPO,VEN,5
15200,632991,39,2023-08-03,205,7.0,1119300.0,0,470295.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,178711.76,940588.23,YENNY MARCELA RESTREPO,VEN,5
15204,632991,40,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,LIBIA JHOANA SERNA,VEN,5
15209,632991,41,2023-08-03,205,5.0,799500.0,0,335925.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,127651.26,671848.73,LIBIA JHOANA SERNA,VEN,5
15215,632992,35,2023-08-03,205,4.0,599600.0,0,251932.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,95734.45,503865.54,YENNY MARCELA RESTREPO,VEN,5
15218,632992,36,2023-08-03,205,4.0,599600.0,0,251932.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,95734.45,503865.54,LIBIA JHOANA SERNA,VEN,5
16581,633386,39,2023-08-10,263,4.0,679660.0,0,322528.0,14,B263/8103,...,900024376,RESTREPO OBRAS CIVILES Y ACABADOS SAS,19.0,TIENDAS,TIENDAS,108517.14,571142.85,EDGAR FRANCISCO BEDOYA,VEN,5
19472,634657,44,2023-08-06,261,4.0,119600.0,0,55276.0,14,O261/813877,...,9815298,ENOVIER CASTA-O,19.0,TIENDAS,TIENDAS,19095.79,100504.20,DIANA CAROLINA MONTOYA,VEN,5
22031,635069,44,2023-08-01,187,4.0,2800.0,0,1296.0,14,O187/836718,...,24766240,ESTELLA OROZCO,19.0,TIENDAS,TIENDAS,447.05,2352.94,DEICY VIVIANA VANEGAS,VEN,5
22054,635069,44,2023-08-04,41,5.0,3500.0,0,1620.0,14,B041/808350,...,52021511,ADRIANA CARDOSO,19.0,TIENDAS,TIENDAS,558.82,2941.17,WILMER ROJAS CASTANEDA,VEN,3
22091,635069,44,2023-08-06,31,5.0,3500.0,0,1620.0,14,B031/802286,...,1082938150,YESICA MUJICA,19.0,TIENDAS,TIENDAS,558.82,2941.17,CARMEN SENITH ACU-A,VEN,5
22106,635069,44,2023-08-07,73,4.0,2800.0,0,1296.0,14,B073/6865,...,1074185957,LIZETH DELGADO,19.0,TIENDAS,TIENDAS,447.05,2352.94,JAZMIN VIVIAN SALGADO,CAJ,5
22122,635069,44,2023-08-09,14,4.0,2800.0,0,1296.0,14,B014/815129,...,41531367,MARIA ROMERO,19.0,TIENDAS,TIENDAS,447.05,2352.94,LEISER DUBAN BARAHONA,VEN,5
22139,635069,44,2023-08-10,187,7.0,4900.0,0,2268.0,14,O187/837199,...,14320001,CARLOS ALBERTO MARTINEZ,19.0,TIENDAS,VENTA DOMICILIO,782.35,4117.64,DEICY VIVIANA VANEGAS,VEN,5
22150,635069,44,2023-08-11,31,6.0,4200.0,0,1944.0,14,B031/802323,...,79305263,ANTONIO PRIETO,19.0,TIENDAS,TIENDAS,670.58,3529.41,JOHANNA MARCELA CARDENAS,ADM,5
22185,635069,44,2023-08-13,14,5.0,3500.0,0,1620.0,14,B014/815275,...,53038253,DIANA ZAMORA,19.0,TIENDAS,TIENDAS,558.82,2941.17,KAREN YULIETH URBINA,VEN,5
22197,635069,44,2023-08-14,41,5.0,3500.0,0,1620.0,14,B041/808519,...,23466771,MERCEDEZ AMAYA,19.0,TIENDAS,TIENDAS,558.82,2941.17,WILMER ROJAS CASTANEDA,VEN,3
22211,635071,44,2023-08-01,137,6.0,2800.0,0,1944.0,14,A137/808831,...,63482850,SANDRA LILIANA ALVAREZ MONTENEGRO,19.0,TIENDAS,TIENDAS,447.05,2352.94,CARINA YURNEY MANTILLA INFANTE,VEN,3
22212,635071,44,2023-08-01,199,4.0,2800.0,0,1296.0,14,O199/12528,...,25284777,MARIA PAZ,19.0,TIENDAS,TIENDAS,447.05,2352.94,ANGIE VANESA MOLINA,VEN,5
22216,635071,44,2023-08-02,137,9.0,4200.0,0,2916.0,14,A137/808835,...,63550143,MABEL MORENO,19.0,TIENDAS,TIENDAS,670.58,3529.41,ALVARO ENRIQUE NAVAS,VEN,3
22219,635071,44,2023-08-03,137,6.0,2800.0,0,1944.0,14,A137/808859,...,37652559,CLAUDIA GALVIS,19.0,TIENDAS,TIENDAS,447.05,2352.94,ALVARO ENRIQUE NAVAS,VEN,3
22230,635071,44,2023-08-04,199,4.0,2800.0,0,1296.0,14,O199/12556,...,31242881,BEATRIZ OTERO,19.0,TIENDAS,TIENDAS,447.05,2352.94,OSCAR LUIS HIDALGO,VEN,5
22238,635071,44,2023-08-05,77,6.0,4200.0,0,1944.0,14,B077/814750,...,26428584,SANDRA CONSTANSA VALENCIA JOVEN,19.0,TIENDAS,TIENDAS,670.58,3529.41,NIESA CARONLINA CARDONA RAMIREZ,VEN,3
22249,635071,44,2023-08-05,150,5.0,3500.0,0,1620.0,14,M150/821164,...,1038437820,SOFIA PAREDES,19.0,TIENDAS,TIENDAS,558.82,2941.17,YELYXá YHOYANA BETANCUR,VEN,5
22256,635071,44,2023-08-05,198,5.0,3500.0,0,1620.0,14,O198/3978,...,31251907,LUZ MARINA AREIZA LOPEZ,19.0,TIENDAS,TIENDAS,558.82,2941.17,CAROLINA CALDERON,VEN,5
22267,635071,44,2023-08-06,77,4.0,2800.0,0,1296.0,14,B077/814778,...,55161123,LIDIANA PINEDA GUTIERREZ,19.0,TIENDAS,TIENDAS,447.05,2352.94,NIESA CARONLINA CARDONA RAMIREZ,VEN,3
22268,635071,44,2023-08-06,77,7.0,4900.0,0,2268.0,14,B077/814773,...,1075244397,NELLY CAMPOS,19.0,TIENDAS,TIENDAS,782.35,4117.64,NIESA CARONLINA CARDONA RAMIREZ,VEN,3
22282,635071,44,2023-08-08,77,4.0,2800.0,0,1296.0,14,B077/814841,...,1075305308,LUNA BAHAMON,19.0,TIENDAS,TIENDAS,447.05,2352.94,NIESA CARONLINA CARDONA RAMIREZ,VEN,3
22303,635071,44,2023-08-11,154,6.0,4200.0,0,1944.0,14,C154/812851,...,73118998,CARLOS BURGOS,19.0,TIENDAS,TIENDAS,670.58,3529.41,JHERALDINE CAMILA ALTAHONA,VEN,5
22331,635071,44,2023-08-14,77,4.0,2800.0,0,1296.0,14,B077/814977,...,36180617,MARIA DEL CARMEN MOSQUERA,19.0,TIENDAS,TIENDAS,447.05,2352.94,NIESA CARONLINA CARDONA RAMIREZ,VEN,3
22338,635071,44,2023-08-14,253,5.0,3500.0,0,1620.0,14,O253/823191,...,41896178,YANET HELLEN LOPEZ,19.0,TIENDAS,TIENDAS,558.82,2941.17,JOSE IGNACIO DELGADO,BOD,5
23069,635163,37,2023-08-12,498,4.0,139600.0,0,56308.0,14,B498/8518,...,51750086,SANDRA MALLA,19.0,TIENDAS,TIENDAS,22289.07,117310.92,KAREN MARGARITA MIRANDA,VEN,5
25194,635522,44,2023-08-07,74,6.0,107400.0,0,51444.0,14,B074/838582,...,79269415,MIGUEL MONTOYA,19.0,TIENDAS,TIENDAS,17147.89,90252.10,DANIEL DAVID CARRILLO,VEN,5
29458,636692,44,2023-08-12,36,6.0,101400.0,0,52830.0,14,B036/862349,...,1026267971,KAREN ORTIZ,19.0,TIENDAS,TIENDAS,16189.91,85210.08,ANGY LICETH CAMARGO,CAJ,5

In [118]:
df_trx_filter[df_trx_filter['ven_und'] > 4]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
15198,632991,38,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,YENNY MARCELA RESTREPO,VEN,5
15200,632991,39,2023-08-03,205,7.0,1119300.0,0,470295.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,178711.76,940588.23,YENNY MARCELA RESTREPO,VEN,5
15204,632991,40,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,LIBIA JHOANA SERNA,VEN,5
15209,632991,41,2023-08-03,205,5.0,799500.0,0,335925.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,127651.26,671848.73,LIBIA JHOANA SERNA,VEN,5
22054,635069,44,2023-08-04,41,5.0,3500.0,0,1620.0,14,B041/808350,...,52021511,ADRIANA CARDOSO,19.0,TIENDAS,TIENDAS,558.82,2941.17,WILMER ROJAS CASTANEDA,VEN,3
22091,635069,44,2023-08-06,31,5.0,3500.0,0,1620.0,14,B031/802286,...,1082938150,YESICA MUJICA,19.0,TIENDAS,TIENDAS,558.82,2941.17,CARMEN SENITH ACU-A,VEN,5
22139,635069,44,2023-08-10,187,7.0,4900.0,0,2268.0,14,O187/837199,...,14320001,CARLOS ALBERTO MARTINEZ,19.0,TIENDAS,VENTA DOMICILIO,782.35,4117.64,DEICY VIVIANA VANEGAS,VEN,5
22150,635069,44,2023-08-11,31,6.0,4200.0,0,1944.0,14,B031/802323,...,79305263,ANTONIO PRIETO,19.0,TIENDAS,TIENDAS,670.58,3529.41,JOHANNA MARCELA CARDENAS,ADM,5
22185,635069,44,2023-08-13,14,5.0,3500.0,0,1620.0,14,B014/815275,...,53038253,DIANA ZAMORA,19.0,TIENDAS,TIENDAS,558.82,2941.17,KAREN YULIETH URBINA,VEN,5
22197,635069,44,2023-08-14,41,5.0,3500.0,0,1620.0,14,B041/808519,...,23466771,MERCEDEZ AMAYA,19.0,TIENDAS,TIENDAS,558.82,2941.17,WILMER ROJAS CASTANEDA,VEN,3
22211,635071,44,2023-08-01,137,6.0,2800.0,0,1944.0,14,A137/808831,...,63482850,SANDRA LILIANA ALVAREZ MONTENEGRO,19.0,TIENDAS,TIENDAS,447.05,2352.94,CARINA YURNEY MANTILLA INFANTE,VEN,3
22216,635071,44,2023-08-02,137,9.0,4200.0,0,2916.0,14,A137/808835,...,63550143,MABEL MORENO,19.0,TIENDAS,TIENDAS,670.58,3529.41,ALVARO ENRIQUE NAVAS,VEN,3
22219,635071,44,2023-08-03,137,6.0,2800.0,0,1944.0,14,A137/808859,...,37652559,CLAUDIA GALVIS,19.0,TIENDAS,TIENDAS,447.05,2352.94,ALVARO ENRIQUE NAVAS,VEN,3
22238,635071,44,2023-08-05,77,6.0,4200.0,0,1944.0,14,B077/814750,...,26428584,SANDRA CONSTANSA VALENCIA JOVEN,19.0,TIENDAS,TIENDAS,670.58,3529.41,NIESA CARONLINA CARDONA RAMIREZ,VEN,3
22249,635071,44,2023-08-05,150,5.0,3500.0,0,1620.0,14,M150/821164,...,1038437820,SOFIA PAREDES,19.0,TIENDAS,TIENDAS,558.82,2941.17,YELYXá YHOYANA BETANCUR,VEN,5
22256,635071,44,2023-08-05,198,5.0,3500.0,0,1620.0,14,O198/3978,...,31251907,LUZ MARINA AREIZA LOPEZ,19.0,TIENDAS,TIENDAS,558.82,2941.17,CAROLINA CALDERON,VEN,5
22268,635071,44,2023-08-06,77,7.0,4900.0,0,2268.0,14,B077/814773,...,1075244397,NELLY CAMPOS,19.0,TIENDAS,TIENDAS,782.35,4117.64,NIESA CARONLINA CARDONA RAMIREZ,VEN,3
22303,635071,44,2023-08-11,154,6.0,4200.0,0,1944.0,14,C154/812851,...,73118998,CARLOS BURGOS,19.0,TIENDAS,TIENDAS,670.58,3529.41,JHERALDINE CAMILA ALTAHONA,VEN,5
22338,635071,44,2023-08-14,253,5.0,3500.0,0,1620.0,14,O253/823191,...,41896178,YANET HELLEN LOPEZ,19.0,TIENDAS,TIENDAS,558.82,2941.17,JOSE IGNACIO DELGADO,BOD,5
25194,635522,44,2023-08-07,74,6.0,107400.0,0,51444.0,14,B074/838582,...,79269415,MIGUEL MONTOYA,19.0,TIENDAS,TIENDAS,17147.89,90252.10,DANIEL DAVID CARRILLO,VEN,5
29458,636692,44,2023-08-12,36,6.0,101400.0,0,52830.0,14,B036/862349,...,1026267971,KAREN ORTIZ,19.0,TIENDAS,TIENDAS,16189.91,85210.08,ANGY LICETH CAMARGO,CAJ,5

In [119]:
df_trx_filter[(df_trx_filter['ven_und'] > 4) & (df_trx_filter['cod_tienda'] = '205')]

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (<ipython-input-119-30ffa30dfdc0>, line 1)

In [120]:
df_trx_filter[(df_trx_filter['ven_und'] > 4) & (df_trx_filter['cod_tienda'] == '205')]

Empty DataFrame
Columns: [codigo, talla, fecha, cod_tienda, ven_und, ven_val, inv, costo_ven, multrot, ticket, vende, desc_ven, cedula, nombres, iva, origen, suborigen, valor_iva, venta_sin_iva, nomvende, cargo, compania]
Index: []

[0 rows x 22 columns]

In [121]:
df_trx_filter[(df_trx_filter['ven_und'] > 4) & (df_trx_filter['cod_tienda'] == '205')]

Empty DataFrame
Columns: [codigo, talla, fecha, cod_tienda, ven_und, ven_val, inv, costo_ven, multrot, ticket, vende, desc_ven, cedula, nombres, iva, origen, suborigen, valor_iva, venta_sin_iva, nomvende, cargo, compania]
Index: []

[0 rows x 22 columns]

In [122]:
df_trx_filter[(df_trx_filter['ven_und'] > 4) & (df_trx_filter['cod_tienda'] = ' 205')]

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (<ipython-input-122-bd92aac274ff>, line 1)

In [123]:
df_trx_filter[(df_trx_filter['ven_und'] > 4) & (df_trx_filter['cod_tienda'] == ' 205')]

Empty DataFrame
Columns: [codigo, talla, fecha, cod_tienda, ven_und, ven_val, inv, costo_ven, multrot, ticket, vende, desc_ven, cedula, nombres, iva, origen, suborigen, valor_iva, venta_sin_iva, nomvende, cargo, compania]
Index: []

[0 rows x 22 columns]

In [124]:
df_trx_filter[(df_trx_filter['ven_und'] > 4) & (df_trx_filter['cedula'] == '891480035')]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
15198,632991,38,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,YENNY MARCELA RESTREPO,VEN,5
15200,632991,39,2023-08-03,205,7.0,1119300.0,0,470295.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,178711.76,940588.23,YENNY MARCELA RESTREPO,VEN,5
15204,632991,40,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,LIBIA JHOANA SERNA,VEN,5
15209,632991,41,2023-08-03,205,5.0,799500.0,0,335925.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,127651.26,671848.73,LIBIA JHOANA SERNA,VEN,5

In [125]:
df_trx_filter['cod_tienda'] = df_trx_filter['cod_tienda'].strip()

AttributeError: 'Series' object has no attribute 'strip'

In [126]:
df_trx_filtrada.dtypes

NameError: name 'df_trx_filtrada' is not defined

In [127]:
df_trx_filter.dtypes

codigo                   object
talla                    object
fecha            datetime64[ns]
cod_tienda               object
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                    object
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                 object
dtype: object

In [128]:
df_trx_filter['cod_tienda'] = df_trx_filter['cod_tienda'].str.strip()

AttributeError: Can only use .str accessor with string values!

In [129]:
df_trx_filter['cod_tienda'] = df_trx_filter['cod_tienda'].astype('string')

In [130]:
df_trx_filter.dtypes

codigo                   object
talla                    object
fecha            datetime64[ns]
cod_tienda               string
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                    object
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                 object
dtype: object

In [131]:
df_trx_filter['codigo'] = df_trx_filter['codigo'].astype('string')
df_trx_filter['cod_tienda'] = df_trx_filter['cod_tienda'].astype('string')
df_trx_filter['vende'] = df_trx_filter['vende'].astype('string')
df_trx_filter['compania'] = df_trx_filter['compania'].astype('string')

In [132]:
df_trx_filter.dtypes

codigo                   string
talla                    object
fecha            datetime64[ns]
cod_tienda               string
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   object
vende                    string
desc_ven                float64
cedula                   object
nombres                  object
iva                     float64
origen                   object
suborigen                object
valor_iva               float64
venta_sin_iva           float64
nomvende                 object
cargo                    object
compania                 string
dtype: object

In [133]:
df_trx_filter['fecha'] = pd.to_datetime(df_trx_filter['fecha'])
df_trx_filter['codigo'] = df_trx_filter['codigo'].astype('string')
df_trx_filter['cod_tienda'] = df_trx_filter['cod_tienda'].astype('string')
df_trx_filter['vende'] = df_trx_filter['vende'].astype('string')
df_trx_filter['compania'] = df_trx_filter['compania'].astype('string')
df_trx_filter['cargo'] = df_trx_filter['cargo'].astype('string')
df_trx_filter['nomvende'] = df_trx_filter['nomvende'].astype('string')
df_trx_filter['origen'] = df_trx_filter['origen'].astype('string')
df_trx_filter['suborigen'] = df_trx_filter['suborigen'].astype('string')
df_trx_filter['cedula'] = df_trx_filter['cedula'].astype('string')
df_trx_filter['nombres'] = df_trx_filter['nombres'].astype('string')
df_trx_filter['ticket'] = df_trx_filter['ticket'].astype('string')
df_trx_filter['talla'] = df_trx_filter['talla'].astype('string')

In [134]:
df_trx_filter.dtypes

codigo                   string
talla                    string
fecha            datetime64[ns]
cod_tienda               string
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   string
vende                    string
desc_ven                float64
cedula                   string
nombres                  string
iva                     float64
origen                   string
suborigen                string
valor_iva               float64
venta_sin_iva           float64
nomvende                 string
cargo                    string
compania                 string
dtype: object

In [135]:
df_trx_filter[(df_trx_filter['ven_und'] > 4) & (df_trx_filter['cod_tienda'] == '205')]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
15198,632991,38,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,YENNY MARCELA RESTREPO,VEN,5
15200,632991,39,2023-08-03,205,7.0,1119300.0,0,470295.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,178711.76,940588.23,YENNY MARCELA RESTREPO,VEN,5
15204,632991,40,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,LIBIA JHOANA SERNA,VEN,5
15209,632991,41,2023-08-03,205,5.0,799500.0,0,335925.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,127651.26,671848.73,LIBIA JHOANA SERNA,VEN,5

In [136]:
df_trx_filter[df_trx_filter['nombres'].str.contains('garcia')]

Empty DataFrame
Columns: [codigo, talla, fecha, cod_tienda, ven_und, ven_val, inv, costo_ven, multrot, ticket, vende, desc_ven, cedula, nombres, iva, origen, suborigen, valor_iva, venta_sin_iva, nomvende, cargo, compania]
Index: []

[0 rows x 22 columns]

In [137]:
df_trx_filter[df_trx_filter['nombres'].str.contains('UNIVERSIDAD')]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
2750,275715,41,2023-08-11,205,1.0,175900.0,0,67445.0,14,O205/826030,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,28084.87,147815.12,LIBIA JHOANA SERNA,VEN,5
5354,276393,35,2023-08-13,205,1.0,125950.0,0,54444.0,14,O205/826081,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,20109.66,105840.33,LIBIA JHOANA SERNA,VEN,5
7434,276686,39,2023-08-13,205,1.0,134900.0,0,47146.0,14,O205/826081,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,21538.65,113361.34,LIBIA JHOANA SERNA,VEN,5
8404,276995,36,2023-08-12,205,1.0,159900.0,0,43014.0,14,O205/826048,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,25530.25,134369.74,LIBIA JHOANA SERNA,VEN,5
11370,630643,42,2023-08-12,205,1.0,219900.0,0,105330.0,14,O205/826058,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,35110.08,184789.91,YENNY MARCELA RESTREPO,VEN,5
15198,632991,38,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,YENNY MARCELA RESTREPO,VEN,5
15199,632991,39,2023-08-03,205,2.0,319800.0,0,134370.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,51060.50,268739.49,LIBIA JHOANA SERNA,VEN,5
15200,632991,39,2023-08-03,205,7.0,1119300.0,0,470295.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,178711.76,940588.23,YENNY MARCELA RESTREPO,VEN,5
15203,632991,39,2023-08-11,205,-1.0,-159900.0,0,-67185.0,14,O205/311,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-25530.25,-134369.74,LIBIA JHOANA SERNA,VEN,5
15204,632991,40,2023-08-03,205,6.0,959400.0,0,403110.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,153181.51,806218.48,LIBIA JHOANA SERNA,VEN,5
15207,632991,40,2023-08-12,205,-3.0,-479700.0,0,-201555.0,14,O205/315,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-76590.75,-403109.24,YENNY MARCELA RESTREPO,VEN,5
15208,632991,41,2023-08-03,205,1.0,159900.0,0,67185.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,25530.25,134369.74,YEISON ESTEBAN GALLEGO,CAJ,5
15209,632991,41,2023-08-03,205,5.0,799500.0,0,335925.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,127651.26,671848.73,LIBIA JHOANA SERNA,VEN,5
15210,632991,41,2023-08-10,205,-3.0,-479700.0,0,-201555.0,14,O205/307,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-76590.75,-403109.24,LIBIA JHOANA SERNA,VEN,5
15211,632992,34,2023-08-03,205,2.0,299800.0,0,125966.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,47867.22,251932.77,YENNY MARCELA RESTREPO,VEN,5
15212,632992,34,2023-08-03,205,2.0,299800.0,0,125966.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,47867.22,251932.77,YEISON ESTEBAN GALLEGO,CAJ,5
15213,632992,34,2023-08-12,187,-2.0,-299800.0,0,-125966.0,14,O187/331,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-47867.22,-251932.77,YEISON ESTEBAN GALLEGO,CAJ,5
15214,632992,34,2023-08-12,187,-1.0,-149900.0,0,-62983.0,14,O187/330,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-23933.61,-125966.38,YENNY MARCELA RESTREPO,VEN,5
15215,632992,35,2023-08-03,205,4.0,599600.0,0,251932.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,95734.45,503865.54,YENNY MARCELA RESTREPO,VEN,5
15216,632992,35,2023-08-12,205,-2.0,-299800.0,0,-125966.0,14,O205/313,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-47867.22,-251932.77,LIBIA JHOANA SERNA,VEN,5
15217,632992,36,2023-08-03,205,2.0,299800.0,0,125966.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,47867.22,251932.77,YENNY MARCELA RESTREPO,VEN,5
15218,632992,36,2023-08-03,205,4.0,599600.0,0,251932.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,95734.45,503865.54,LIBIA JHOANA SERNA,VEN,5
15219,632992,36,2023-08-11,187,-2.0,-299800.0,0,-125966.0,14,O187/322,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-47867.22,-251932.77,YENNY MARCELA RESTREPO,VEN,5
15220,632992,36,2023-08-13,205,-2.0,-299800.0,0,-125966.0,14,O205/317,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-47867.22,-251932.77,LIBIA JHOANA SERNA,VEN,5
15221,632992,37,2023-08-03,205,2.0,299800.0,0,125966.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,47867.22,251932.77,LIBIA JHOANA SERNA,VEN,5
15222,632992,37,2023-08-11,245,-2.0,-299800.0,0,-125966.0,14,O245/229,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-47867.22,-251932.77,LIBIA JHOANA SERNA,VEN,5
15223,632992,38,2023-08-03,205,2.0,299800.0,0,125966.0,14,O205/4417,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,47867.22,251932.77,LIBIA JHOANA SERNA,VEN,5
17084,633600,41,2023-08-10,205,1.0,239900.0,0,114910.0,14,O205/825993,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,38303.36,201596.63,LIBIA JHOANA SERNA,VEN,5
17085,633600,42,2023-08-10,205,1.0,239900.0,0,114910.0,14,O205/825993,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,38303.36,201596.63,LIBIA JHOANA SERNA,VEN,5
17086,633600,42,2023-08-11,205,-1.0,-239900.0,0,-114910.0,14,O205/308,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,-38303.36,-201596.63,LIBIA JHOANA SERNA,VEN,5
17088,633600,43,2023-08-11,205,1.0,239900.0,0,114910.0,14,O205/826022,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,38303.36,201596.63,LIBIA JHOANA SERNA,VEN,5
19482,634657,44,2023-08-10,205,2.0,59800.0,0,27638.0,14,O205/825993,...,891480035,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,9547.89,50252.10,LIBIA JHOANA SERNA,VEN,5
24708,635468,44,2023-08-12,205,1.0,24900.0,0,12973.0,14,O205/826048,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,3975.63,20924.36,LIBIA JHOANA SERNA,VEN,5
25159,635521,44,2023-08-13,205,1.0,17900.0,0,8574.0,14,O205/826081,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,2857.98,15042.01,LIBIA JHOANA SERNA,VEN,5
25261,635532,44,2023-08-12,205,1.0,97900.0,0,45248.0,14,O205/826048,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,15631.09,82268.90,LIBIA JHOANA SERNA,VEN,5
29122,636666,37,2023-08-12,205,1.0,279900.0,0,129366.0,14,O205/826058,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,44689.91,235210.08,YENNY MARCELA RESTREPO,VEN,5
29329,636684,44,2023-08-12,205,1.0,24900.0,0,12973.0,14,O205/826048,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,3975.63,20924.36,LIBIA JHOANA SERNA,VEN,5
29336,636684,44,2023-08-13,205,1.0,24900.0,0,12973.0,14,O205/826081,...,8914800359,UNIVERSIDAD TECNOLOGICA DE PEREIRA,19.0,TIENDAS,TIENDAS,3975.63,20924.36,LIBIA JHOANA SERNA,VEN,5

In [138]:
df_trx_filter[df_trx_filter['nombres'].str.contains('universidad')]

Empty DataFrame
Columns: [codigo, talla, fecha, cod_tienda, ven_und, ven_val, inv, costo_ven, multrot, ticket, vende, desc_ven, cedula, nombres, iva, origen, suborigen, valor_iva, venta_sin_iva, nomvende, cargo, compania]
Index: []

[0 rows x 22 columns]

In [139]:
df_trx_filter[df_trx_filter['nombres'].str.contains('GARCIA')]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,cedula,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania
127,183442,44,2023-08-02,495,1.0,20400.0,0,10286.0,14,B495/1952,...,1128624367,INGRIG GARCIAL,19.0,TIENDAS,TIENDAS,3257.14,17142.85,CAROLINA MICOLTA,VEN,5
130,183442,44,2023-08-03,14,1.0,20400.0,0,10286.0,14,B014/814927,...,41448222,GLADYS GARCIA,19.0,TIENDAS,TIENDAS,3257.14,17142.85,ADRIANA VANESA BUELVAS,CAJ,5
369,183442,44,2023-08-07,268,1.0,20400.0,0,10286.0,14,B268/815993,...,9175197,EVER GARCIA,19.0,TIENDAS,TIENDAS,3257.14,17142.85,VIVIANA MORENO,VEN,5
376,183442,44,2023-08-08,343,1.0,20400.0,0,10286.0,14,B343/824424,...,1022328278,DIANA GARCIA,19.0,TIENDAS,TIENDAS,3257.14,17142.85,JESUS CAMILO GONZALEZ,VEN,5
433,183442,44,2023-08-14,73,1.0,20400.0,0,10286.0,14,B073/823815,...,1016016114,AZAEL YAMID GARCIA,19.0,TIENDAS,TIENDAS,3257.14,17142.85,JULIETH XIMENA ASCANIO,VEN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29187,636676,44,2023-08-11,41,2.0,43800.0,0,22820.0,14,B041/808463,...,20309902,INES GARCIA,19.0,TIENDAS,TIENDAS,6993.27,36806.72,KRISTIAN DANIEL MORA,VEN,3
29229,636680,44,2023-08-11,2,2.0,25800.0,0,13442.0,14,B002/809084,...,52849661,SANDRA GARCIA,19.0,TIENDAS,TIENDAS,4119.32,21680.67,PAULA ANDREA GUZMAN,VEN,5
29257,636682,44,2023-08-08,20,1.0,26900.0,0,14015.0,14,B020/807274,...,1049796073,JEIMI GARCIA,19.0,TIENDAS,TIENDAS,4294.95,22605.04,CARLOS ANDRES RIA-O,VEN,5
29324,636684,44,2023-08-11,41,1.0,24900.0,0,12973.0,14,B041/808463,...,20309902,INES GARCIA,19.0,TIENDAS,TIENDAS,3975.63,20924.36,KRISTIAN DANIEL MORA,VEN,3
29377,636686,44,2023-08-09,213,1.0,19900.0,0,10368.0,14,O213/808322,...,29109501,MARTHA MILENA GARCIA VERGARA,19.0,TIENDAS,TIENDAS,3177.31,16722.68,SANDRA MILENA VALLE,VEN,5

In [140]:
def calc_margen(fila):
    margen = (fila['venta_sin_iva']-(fila['costo_ven'] - fila['desc_ven']))/fila['venta_sin_iva']
    return margen
df_trx_filter['margen'] = df_trx_filter.apply(margen, axis=1 )

NameError: name 'margen' is not defined

In [141]:
def calc_margen(fila):
    margen = (fila['venta_sin_iva']-(fila['costo_ven'] - fila['desc_ven']))/fila['venta_sin_iva']
    return margen

In [142]:
def calc_margen(fila):
    margen = (fila['venta_sin_iva']-(fila['costo_ven'] - fila['desc_ven']))/fila['venta_sin_iva']
    return margen
df_trx_filter['margen'] = df_trx_filter.apply(calc_margen, axis=1 )

ZeroDivisionError: float division by zero

In [143]:
def calc_margen(fila):
    if fila['venta_sin_iva']>0:
        margen = (fila['venta_sin_iva']-(fila['costo_ven'] - fila['desc_ven']))/fila['venta_sin_iva']
    else:
        margen=0
    return margen

In [144]:
df_trx_filter['margen'] = df_trx_filter.apply(calc_margen, axis=1 )

In [145]:
df_trx_filter.head

<bound method NDFrame.head of         codigo talla      fecha cod_tienda  ven_und  ven_val  inv  costo_ven  \
0       102514    35 2023-08-14        494      0.0      0.0    1        0.0
1       102514    39 2023-08-14        494      0.0      0.0    7        0.0
2       102514    39 2023-08-14        804      0.0      0.0    1        0.0
3       102515    31 2023-08-14        494      0.0      0.0    1        0.0
4       102515    33 2023-08-14        443      0.0      0.0    1        0.0
...        ...   ...        ...        ...      ...      ...  ...        ...
248573   96428    31 2023-08-14         17      0.0      0.0    1        0.0
248574   96428    31 2023-08-14        494      0.0      0.0    1        0.0
248575   96428    32 2023-08-14        467      0.0      0.0    1        0.0
248576   96428    32 2023-08-14        494      0.0      0.0    2        0.0
248577   96627    29 2023-08-14          2      0.0      0.0    1        0.0

        multrot ticket  ... nombres  iva origen suborigen  valor_iva  \
0            14      0  ...       0  0.0      0         0        0.0
1            14      0  ...       0  0.0      0         0        0.0
2            14      0  ...       0  0.0      0         0        0.0
3            14      0  ...       0  0.0      0         0        0.0
4            14      0  ...       0  0.0      0         0        0.0
...         ...    ...  ...     ...  ...    ...       ...        ...
248573       14      0  ...       0  0.0      0         0        0.0
248574       14      0  ...       0  0.0      0         0        0.0
248575       14      0  ...       0  0.0      0         0        0.0
248576       14      0  ...       0  0.0      0         0        0.0
248577       14      0  ...       0  0.0      0         0        0.0

       venta_sin_iva nomvende  cargo  compania margen
0                0.0        0      0         3    0.0
1                0.0        0      0         3    0.0
2                0.0        0      0         3    0.0
3                0.0        0      0         3    0.0
4                0.0        0      0         3    0.0
...              ...      ...    ...       ...    ...
248573           0.0        0      0         3    0.0
248574           0.0        0      0         3    0.0
248575           0.0        0      0         3    0.0
248576           0.0        0      0         3    0.0
248577           0.0        0      0         5    0.0

[248578 rows x 23 columns]>

In [146]:
df_trx.filter

<bound method NDFrame.filter of         codigo talla      fecha cod_tienda  ven_und  ven_val  inv  costo_ven  \
0       102514    35 2023-08-14        494      0.0      0.0    1        NaN
1       102514    39 2023-08-14        494      0.0      0.0    7        NaN
2       102514    39 2023-08-14        804      0.0      0.0    1        NaN
3       102515    31 2023-08-14        494      0.0      0.0    1        NaN
4       102515    33 2023-08-14        443      0.0      0.0    1        NaN
...        ...   ...        ...        ...      ...      ...  ...        ...
248573   96428    31 2023-08-14         17      0.0      0.0    1        NaN
248574   96428    31 2023-08-14        494      0.0      0.0    1        NaN
248575   96428    32 2023-08-14        467      0.0      0.0    1        NaN
248576   96428    32 2023-08-14        494      0.0      0.0    2        NaN
248577   96627    29 2023-08-14          2      0.0      0.0    1        NaN

        multrot ticket  ... cedula  nombres iva origen  suborigen valor_iva  \
0            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
1            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
2            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
3            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
4            14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
...         ...    ...  ...    ...      ...  ..    ...        ...       ...
248573       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248574       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248575       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248576       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0
248577       14    NaN  ...    NaN      NaN NaN    NaN        NaN       0.0

       venta_sin_iva  nomvende  cargo compania
0                0.0       NaN    NaN        3
1                0.0       NaN    NaN        3
2                0.0       NaN    NaN        3
3                0.0       NaN    NaN        3
4                0.0       NaN    NaN        3
...              ...       ...    ...      ...
248573           0.0       NaN    NaN        3
248574           0.0       NaN    NaN        3
248575           0.0       NaN    NaN        3
248576           0.0       NaN    NaN        3
248577           0.0       NaN    NaN        5

[248578 rows x 22 columns]>

In [147]:
df_trx_filter

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania,margen
0,102514,35,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
1,102514,39,2023-08-14,494,0.0,0.0,7,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
2,102514,39,2023-08-14,804,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
3,102515,31,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
4,102515,33,2023-08-14,443,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248573,96428,31,2023-08-14,17,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
248574,96428,31,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
248575,96428,32,2023-08-14,467,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
248576,96428,32,2023-08-14,494,0.0,0.0,2,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
248577,96627,29,2023-08-14,2,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,5,0.0

In [148]:
df_trx_filter.head(10)

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania,margen
0,102514,35,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
1,102514,39,2023-08-14,494,0.0,0.0,7,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
2,102514,39,2023-08-14,804,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
3,102515,31,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
4,102515,33,2023-08-14,443,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
5,102515,35,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
6,102515,38,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
7,102515,39,2023-08-14,443,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
8,103631,32,2023-08-14,494,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,3,0.0
9,104543,29,2023-08-14,95,0.0,0.0,1,0.0,14,0,...,0,0.0,0,0,0.0,0.0,0,0,5,0.0

In [149]:
df_trx_filter[df_trx_filter['ven_und'] > 0]

,codigo,talla,fecha,cod_tienda,ven_und,ven_val,inv,costo_ven,multrot,ticket,...,nombres,iva,origen,suborigen,valor_iva,venta_sin_iva,nomvende,cargo,compania,margen
93,182874,44,2023-08-11,292,1.0,9050.0,0,6504.0,14,O292/804755,...,CECILIA DUQUE,19.0,TIENDAS,TIENDAS,1444.95,7605.04,MARIA CAMILA OSPINA,VEN,3,0.144778
94,183422,44,2023-08-07,74,1.0,33000.0,0,16639.0,14,B074/838574,...,LUISA CORTES,19.0,TIENDAS,TIENDAS,5268.90,27731.09,DANIEL DAVID CARRILLO,VEN,5,0.399988
95,183422,44,2023-08-12,12,1.0,33000.0,0,16639.0,14,B012/828448,...,ANA FELISA CLAVIJO,19.0,TIENDAS,TIENDAS,5268.90,27731.09,SAUL ROMERO,VEN,5,0.399988
96,183429,44,2023-08-05,74,1.0,18200.0,0,9176.0,14,B074/16906,...,LUISA VEGA,19.0,TIENDAS,TIENDAS,2905.88,15294.11,JESUS GABRIEL GAVIRIA,VEN,5,0.400030
98,183429,44,2023-08-14,74,1.0,18200.0,0,9176.0,14,B074/838920,...,IRMA PEREZ,19.0,TIENDAS,TIENDAS,2905.88,15294.11,CAMILO ANDRES RUIZ,VEN,5,0.400030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29485,636721,38,2023-08-13,76,1.0,299900.0,0,138609.0,14,B076/843227,...,LUZ HENA RODRIGUEZ,19.0,TIENDAS,TIENDAS,47883.19,252016.80,ANDR+S IGNACIO VALENCIA,VEN,5,0.450001
29486,636721,39,2023-08-14,12,1.0,299900.0,0,138609.0,14,B012/5304,...,JOSE ESTELA DIAZ,19.0,TIENDAS,TIENDAS,47883.19,252016.80,SAUL ROMERO,VEN,5,0.450001
29487,636721,40,2023-08-12,76,1.0,299900.0,0,138609.0,14,B076/843161,...,MIRIAM VERGARA,19.0,TIENDAS,TIENDAS,47883.19,252016.80,ANDR+S IGNACIO VALENCIA,VEN,5,0.450001
29488,636722,37,2023-08-13,14,1.0,299900.0,0,138609.0,14,B014/39414,...,INES CAMACHO,19.0,TIENDAS,TIENDAS,47883.19,252016.80,LEISER DUBAN BARAHONA,VEN,5,0.450001
29489,636726,35,2023-08-14,76,1.0,144000.0,0,66555.0,14,B076/843303,...,ADRIANA MARTINEZ,19.0,TIENDAS,TIENDAS,22991.59,121008.40,CRISTHIAN ANDRES GUERRERO,VEN,5,0.449997

In [150]:
df_trx_filter.describe

<bound method NDFrame.describe of         codigo talla      fecha cod_tienda  ven_und  ven_val  inv  costo_ven  \
0       102514    35 2023-08-14        494      0.0      0.0    1        0.0
1       102514    39 2023-08-14        494      0.0      0.0    7        0.0
2       102514    39 2023-08-14        804      0.0      0.0    1        0.0
3       102515    31 2023-08-14        494      0.0      0.0    1        0.0
4       102515    33 2023-08-14        443      0.0      0.0    1        0.0
...        ...   ...        ...        ...      ...      ...  ...        ...
248573   96428    31 2023-08-14         17      0.0      0.0    1        0.0
248574   96428    31 2023-08-14        494      0.0      0.0    1        0.0
248575   96428    32 2023-08-14        467      0.0      0.0    1        0.0
248576   96428    32 2023-08-14        494      0.0      0.0    2        0.0
248577   96627    29 2023-08-14          2      0.0      0.0    1        0.0

        multrot ticket  ... nombres  iva origen suborigen  valor_iva  \
0            14      0  ...       0  0.0      0         0        0.0
1            14      0  ...       0  0.0      0         0        0.0
2            14      0  ...       0  0.0      0         0        0.0
3            14      0  ...       0  0.0      0         0        0.0
4            14      0  ...       0  0.0      0         0        0.0
...         ...    ...  ...     ...  ...    ...       ...        ...
248573       14      0  ...       0  0.0      0         0        0.0
248574       14      0  ...       0  0.0      0         0        0.0
248575       14      0  ...       0  0.0      0         0        0.0
248576       14      0  ...       0  0.0      0         0        0.0
248577       14      0  ...       0  0.0      0         0        0.0

       venta_sin_iva nomvende  cargo  compania margen
0                0.0        0      0         3    0.0
1                0.0        0      0         3    0.0
2                0.0        0      0         3    0.0
3                0.0        0      0         3    0.0
4                0.0        0      0         3    0.0
...              ...      ...    ...       ...    ...
248573           0.0        0      0         3    0.0
248574           0.0        0      0         3    0.0
248575           0.0        0      0         3    0.0
248576           0.0        0      0         3    0.0
248577           0.0        0      0         5    0.0

[248578 rows x 23 columns]>

In [151]:
df_trx_filter.describe()

,ven_und,ven_val,inv,costo_ven,multrot,desc_ven,iva,valor_iva,venta_sin_iva,margen
count,248578.000000,2.485780e+05,248578.000000,248578.000000,248578.0,248578.000000,248578.000000,248578.000000,248578.000000,248578.000000
mean,0.105886,1.071141e+04,2.099643,4952.124661,14.0,246.360643,2.233194,1710.224831,9001.185478,-0.153214
std,0.341007,4.472777e+04,5.885210,20076.211935,0.0,2089.428476,6.119125,7141.407670,37586.361303,35.594739
min,-3.000000,-5.349000e+05,0.000000,-226424.000000,14.0,0.000000,0.000000,-85404.200000,-449495.790000,-8341.261905
25%,0.000000,0.000000e+00,1.000000,0.000000,14.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000e+00,1.000000,0.000000,14.0,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000e+00,2.000000,0.000000,14.0,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,1.119300e+06,1131.000000,470295.000000,14.0,120958.000000,19.000000,178711.760000,940588.230000,0.867704

In [152]:
df_trx_filter[df_trx_filter['ven_und']>0].describe()

,ven_und,ven_val,inv,costo_ven,multrot,desc_ven,iva,valor_iva,venta_sin_iva,margen
count,27482.000000,2.748200e+04,27482.0,27482.000000,27482.0,27482.000000,27482.0,27482.000000,27482.000000,27482.000000
mean,1.021760,1.054511e+05,0.0,48250.350993,14.0,2228.361691,19.0,16836.728292,88614.380247,-1.385843
std,0.207654,8.047112e+04,0.0,35709.083650,0.0,5922.236669,0.0,12848.330533,67622.791300,107.045310
min,1.000000,0.000000e+00,0.0,324.000000,14.0,0.000000,19.0,0.000000,0.000000,-8341.261905
25%,1.000000,3.490000e+04,0.0,20118.000000,14.0,0.000000,19.0,5572.260000,29327.730000,0.399951
50%,1.000000,9.790000e+04,0.0,43014.000000,14.0,0.000000,19.0,15631.090000,82268.900000,0.450000
75%,1.000000,1.529000e+05,0.0,60464.000000,14.0,0.000000,19.0,24412.600000,128487.390000,0.520004
max,9.000000,1.119300e+06,0.0,470295.000000,14.0,120958.000000,19.0,178711.760000,940588.230000,0.867704

In [153]:
df_trx_filter[df_trx_filter['ven_und']>0].describe()['margen']

count    27482.000000
mean        -1.385843
std        107.045310
min      -8341.261905
25%          0.399951
50%          0.450000
75%          0.520004
max          0.867704
Name: margen, dtype: float64

In [154]:
df_trx_filter[df_trx_filter['ven_und']>0].describe()[['margen','ven_und']]

             margen       ven_und
count  27482.000000  27482.000000
mean      -1.385843      1.021760
std      107.045310      0.207654
min    -8341.261905      1.000000
25%        0.399951      1.000000
50%        0.450000      1.000000
75%        0.520004      1.000000
max        0.867704      9.000000

In [155]:
df_trx_filter[df_trx_filter['ven_und']>0].describe()[['margen','ven_und'.'venta_sin_iva']]

SyntaxError: invalid syntax (<ipython-input-155-9bd913c79bd1>, line 1)

In [156]:
df_trx_filter[df_trx_filter['ven_und']>0].describe()[['margen','ven_und','venta_sin_iva']]

             margen       ven_und  venta_sin_iva
count  27482.000000  27482.000000   27482.000000
mean      -1.385843      1.021760   88614.380247
std      107.045310      0.207654   67622.791300
min    -8341.261905      1.000000       0.000000
25%        0.399951      1.000000   29327.730000
50%        0.450000      1.000000   82268.900000
75%        0.520004      1.000000  128487.390000
max        0.867704      9.000000  940588.230000

In [157]:
df_trx_filter[(df_trx_filter['ven_und']>0) & (df_trx_filter['venta_sin_iva']>0)].describe()[['margen','ven_und','venta_sin_iva']]

             margen       ven_und  venta_sin_iva
count  27001.000000  27001.000000   27001.000000
mean      -1.410530      1.022147   90192.970554
std      107.994436      0.209475   67170.850914
min    -8341.261905      1.000000       0.840000
25%        0.399982      1.000000   33529.410000
50%        0.450001      1.000000   83949.570000
75%        0.520004      1.000000  130168.060000
max        0.867704      9.000000  940588.230000

In [158]:
df_trx_filter[(df_trx_filter['ven_und']>0) & (df_trx_filter['ven_val']>0)].describe()[['margen','ven_und','venta_sin_iva']]

             margen       ven_und  venta_sin_iva
count  27001.000000  27001.000000   27001.000000
mean      -1.410530      1.022147   90192.970554
std      107.994436      0.209475   67170.850914
min    -8341.261905      1.000000       0.840000
25%        0.399982      1.000000   33529.410000
50%        0.450001      1.000000   83949.570000
75%        0.520004      1.000000  130168.060000
max        0.867704      9.000000  940588.230000

In [159]:
df_trx_filter[(df_trx_filter['ven_und']>0) & (df_trx_filter['ven_val']>1000)].describe()[['margen','ven_und','venta_sin_iva']]

             margen       ven_und  venta_sin_iva
count  26753.000000  26753.000000   26753.000000
mean       0.418878      1.022203   91024.217532
std        1.407542      0.209915   66921.727843
min     -100.095411      1.000000     841.170000
25%        0.399973      1.000000   33529.410000
50%        0.450001      1.000000   83949.570000
75%        0.520004      1.000000  130168.060000
max        0.867704      9.000000  940588.230000

In [160]:
df_trx_filter[df_trx_filter['ven_val']>0].describe()[['margen','ven_und','venta_sin_iva']]

             margen       ven_und  venta_sin_iva
count  27001.000000  27001.000000   27001.000000
mean      -1.410530      1.022147   90192.970554
std      107.994436      0.209475   67170.850914
min    -8341.261905      1.000000       0.840000
25%        0.399982      1.000000   33529.410000
50%        0.450001      1.000000   83949.570000
75%        0.520004      1.000000  130168.060000
max        0.867704      9.000000  940588.230000

In [161]:
df_trx_filter[df_trx_filter['ven_val']>10000].describe()[['margen','ven_und','venta_sin_iva']]

             margen       ven_und  venta_sin_iva
count  26273.000000  26273.000000   26273.000000
mean       0.462979      1.014083   92605.506482
std        0.179169      0.145317   66489.773566
min      -10.893564      1.000000    8715.120000
25%        0.399951      1.000000   33529.410000
50%        0.450002      1.000000   85672.260000
75%        0.520011      1.000000  134369.740000
max        0.867704      7.000000  940588.230000

In [162]:
df_trx_filter[df_trx_filter['ven_val']>10000].describe()[['margen','ven_und','ven_val','venta_sin_iva']]

             margen       ven_und       ven_val  venta_sin_iva
count  26273.000000  26273.000000  2.627300e+04   26273.000000
mean       0.462979      1.014083  1.102006e+05   92605.506482
std        0.179169      0.145317  7.912283e+04   66489.773566
min      -10.893564      1.000000  1.037100e+04    8715.120000
25%        0.399951      1.000000  3.990000e+04   33529.410000
50%        0.450002      1.000000  1.019500e+05   85672.260000
75%        0.520011      1.000000  1.599000e+05  134369.740000
max        0.867704      7.000000  1.119300e+06  940588.230000

In [163]:
df_trx_filter.dtypes

codigo                   string
talla                    string
fecha            datetime64[ns]
cod_tienda               string
ven_und                 float64
ven_val                 float64
inv                       int64
costo_ven               float64
multrot                   int64
ticket                   string
vende                    string
desc_ven                float64
cedula                   string
nombres                  string
iva                     float64
origen                   string
suborigen                string
valor_iva               float64
venta_sin_iva           float64
nomvende                 string
cargo                    string
compania                 string
margen                  float64
dtype: object

In [164]:
df_trx_filter[df_trx_filter['ven_val']>10000].describe()[['margen','ven_und','ven_val','venta_sin_iva']]

             margen       ven_und       ven_val  venta_sin_iva
count  26273.000000  26273.000000  2.627300e+04   26273.000000
mean       0.462979      1.014083  1.102006e+05   92605.506482
std        0.179169      0.145317  7.912283e+04   66489.773566
min      -10.893564      1.000000  1.037100e+04    8715.120000
25%        0.399951      1.000000  3.990000e+04   33529.410000
50%        0.450002      1.000000  1.019500e+05   85672.260000
75%        0.520011      1.000000  1.599000e+05  134369.740000
max        0.867704      7.000000  1.119300e+06  940588.230000